@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

// 추가 되는 부분
.cart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .cart_inner {
    width: 1050px;
    height: 100vh;
    .cart_item_inner {
      .item_text {
        text-align: center;
        margin-bottom: 14.8px;
        h2 {
          height: 135px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 28px;
          font-weight: normal;
          color: #d1d1d1;
          // left: 50%;
          // transform: translateX(50%);
          text-align: center;
        }
        .checkbox {
          display: flex;
          gap: 10px;
          .custom-checkbox {
            display: flex;
            align-items: center;
            cursor: pointer;
            input {
              display: none;
            }
            .checkmark {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #fff;
              border: 2px solid #ccc;
              position: relative;
              margin-right: 8px;
              transition:
                background-color 0.3s,
                border-color 0.3s;
            }
            input:checked + .checkmark {
              background-color: #5f0080;
              border-color: #5f0080;
            }
            input:checked + .checkmark:after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: white;
              transform: translate(-50%, -50%);
            }
            input:not(:checked) + .checkmark:after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 0;
              height: 0;
              border-radius: 50%;
              background: white;
              transform: translate(-50%, -50%);
              transition:
                width 0.3s,
                height 0.3s;
            }
          }
        }
        // form {
        //   width: 1050px;
        //   margin: 0 auto;
        //   display: flex;
        //   gap: 20px;
        // right: 50%;
        // transform: translateX(50%);
        // border: 1px solid #f00;
        // transform: translateY(-50%);
        // }
      }
      .cart_right {
        .cart_box {
          display: flex;
          justify-content: space-between;
          .cart_item {
            display: flex;
            justify-content: space-between;
            // img {
            //   width: 300px;
            //   top: 0;
            //   left: 0;
            // }
            .cart_item_inner {
              position: relative;
              width: 742px;
              height: 256px;
              padding: 10px;
              border-top: 2px solid #f4f4f4;
              border-bottom: 2px solid #f4f4f4;
              // .cart_item_logo {
              // }
              .cart_item_text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // border: 1px solid #f00;
                display: flex;
                justify-content: center;
                font-size: 16px;
                color: #b5b5b5;
              }
            }
          }
          .cart_price {
            // border: 1px solid #f00;
            width: 285px;
            height: 200px;
            background: #f4f4f4;
            border-radius: 10px;
            .cart_price_inner {
              padding: 30px;
              .cart_price_text {
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                p {
                  font-size: 16px;
                }
              }
              .cart_price_end {
                margin-top: 16px;
                display: flex;
                justify-content: space-between;
                p {
                  font-size: 16px;
                }
              }
            }
            .login_btn {
              button {
                margin-top: 20px;
                width: 285px;
                height: 54px;
                background: #fff;
                font-weight: bold;
                border: 1px solid #5f0080;
                border-radius: 4px;
                color: #5f0080;
                cursor: pointer;
              }
              :hover {
                background: #5f0080;
                color: #f4f4f4;
              }
            }
            .cart_info {
              span {
                font-size: 12px;
                color: #666;
              }
            }
          }
        }
      }
      .cart_item_foot {
        width: 742px;
        margin-top: 19.2px;
        text-align: center;
        .checkbox {
          display: flex;
          gap: 10px;
          .custom-checkbox {
            display: flex;
            align-items: center;
            cursor: pointer;
            input {
              display: none;
            }
            .checkmark {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #fff;
              border: 2px solid #ccc;
              position: relative;
              margin-right: 8px;
              transition:
                background-color 0.3s,
                border-color 0.3s;
            }
            input:checked + .checkmark {
              background-color: #5f0080;
              border-color: #5f0080;
            }
            input:checked + .checkmark:after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: white;
              transform: translate(-50%, -50%);
            }
            input:not(:checked) + .checkmark:after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 0;
              height: 0;
              border-radius: 50%;
              background: white;
              transform: translate(-50%, -50%);
              transition:
                width 0.3s,
                height 0.3s;
            }
          }
        }
      }
    }
    .cart_rec_inner {
      // border: 1px solid #f00;
      display: flex;
      justify-content: center;
      align-items: center;
      .cart_rec_box {
        margin-top: 157px;
        #cart_rec_text {
          width: 100%;
          text-align: center;
          font-size: 22px;
        }
        .cart_rec_img {
          margin-top: 41px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 19px;
          .cart_rec_imgbox {
            position: relative;
            .cart_rec_item_img {
              img {
                border-radius: 4px;
                z-index: 0;
              }
            }
            .rec_ptice_coupon {
              position: absolute;
              top: 8px;
              left: 8px;
              width: 78.86px;
              height: 30px;
              font-size: 14px;
              font-weight: normal;
              border-radius: 4px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              background: #bd76ff;
              color: #fff;
              z-index: 2;
            }
            .opacity_text {
              position: absolute;
              bottom: 46px;
              left: 0;
              width: 100%;
              height: 37px;
              font-size: 16px;
              font-weight: normal;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgba(0, 0, 0, 0.4);
              color: #fff;
              z-index: 2;
            }
            .cart_rec_btn {
              margin-top: 6px;
              button {
                width: 249px;
                height: 36px;
                background: #fff;
                font-weight: bold;
                border: 1px solid #ddd;
                border-radius: 4px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                font-size: 16px;
                font-weight: normal;
                color: #333333;
              }
              :hover {
                // width: 249px;
                // height: 36px;
                background: #5f0080;
                color: #f4f4f4;
              }
            }
          }
        }
      }
      .cart_rec_str_box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 19px;
        .cart_rec_textbox {
          width: 249px;
          height: auto;
          font-size: 16px;
          margin-top: 8px;
          gap: 19px;
          .cart_rec_item_price {
            span > p:nth-child(1) {
              font-size: 16px;
              color: #333333;
            }
            span > p:nth-child(2) {
              font-size: 14px;
              color: #b5b5b5;
              text-decoration: line-through;
            }
            span > p:nth-child(3) {
              font-size: 16px;
              color: #fa622f;
            }
            span > p:nth-child(4) {
              font-size: 16px;
              color: #333333;
            }
            .comment_text {
              display: flex;
              margin-top: 4px;
              text-align: center;
              gap: 6px;
              i {
                height: 16px;
                color: #999999;
              }
              p {
                font-size: 13px;
                color: #999999;
              }
            }
          }
        }
      }
    }
  }
}
