@charset "UTF-8";
@import "./style.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  width: 100%;
  display: flex;
  align-items: center;
}
body .cart-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}
body .cart-container .cart-header {
  width: 1050px;
}
body .cart-container .cart-title-text {
  text-align: center;
  margin-bottom: 8px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: normal;
  color: #d1d1d1;
}
body .cart-container .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
body .cart-container .checkbox .custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 30px;
}
body .cart-container .checkbox .custom-checkbox input {
  display: none;
}
body .cart-container .checkbox .custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  position: relative;
  margin-right: 8px;
  transition: background-color 0.3s, border-color 0.3s;
}
body .cart-container .checkbox .custom-checkbox input:checked + .checkmark {
  background-color: #5f0080;
  border-color: #5f0080;
}
body .cart-container .checkbox .custom-checkbox input:checked + .checkmark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  transform: translate(-50%, -50%);
}
body .cart-container .checkbox .custom-checkbox input:not(:checked) + .checkmark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: white;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
}

/* section */
main {
  width: 1050px;
}
main #main {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main #main #cart_item-box {
  display: flex;
  width: 100%;
}
main #main #cart_item-box .cart-item-box {
  width: 722px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-top: 2px solid #f4f4f4;
  border-bottom: 2px solid #f4f4f4;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
main #main #cart_item-box .cart-item-box .cart-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
main #main #cart_item-box .cart-item-box .cart-logo img {
  width: 82px;
}
main #main #cart_item-box .cart-item-box .cart-logo span {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: #5f0080;
}
main #main #cart_item-box .cart-item-box .cart-item-inner {
  display: flex;
  flex-direction: column;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  margin-bottom: 26px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-logo {
  margin-top: 10px;
  border-top: 2px solid #b5b5b5;
  padding-top: 4px;
  width: 213px;
  display: flex;
  justify-content: start;
  align-items: center;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-logo img {
  width: 20px;
  margin-right: 7px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-logo span {
  font-size: 16px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img {
  width: 100%;
  display: flex;
  margin-bottom: 2px;
  flex: 2;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .checkbox {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .checkbox .custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .checkbox .custom-checkbox input {
  display: none;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .checkbox .custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  position: relative;
  margin-right: 8px;
  transition: background-color 0.3s, border-color 0.3s;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .checkbox .custom-checkbox input:checked + .checkmark {
  background-color: #5f0080;
  border-color: #5f0080;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .checkbox .custom-checkbox input:checked + .checkmark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  transform: translate(-50%, -50%);
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .checkbox .custom-checkbox input:not(:checked) + .checkmark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: white;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .cart-item-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .cart-item-text img {
  width: 60px;
  height: 80px;
  border-radius: 4px;
  margin-left: 8px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .cart-item-text span {
  font-size: 14px;
  padding: 8px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .cart-item-text .delivery_mark {
  display: flex;
  flex-direction: column;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .cart-item-text .delivery_mark span {
  font-size: 14px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .cart-item-text .delivery_mark .delivery_info {
  display: flex;
  align-items: center;
  text-align: center;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .cart-item-text .delivery_mark .delivery_info .delivery_text {
  color: #5f0080;
  display: flex;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .cart-item-text .delivery_mark .delivery_info span {
  color: #bd76ff;
  font-weight: 500;
  font-size: 12px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .cart-item-text .delivery_mark .delivery_info span i {
  font-size: 14px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example .cart_price_num_box {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 23px;
  flex: 1;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example .cart_price_num_box .cart-item-price {
  display: flex;
  flex-direction: column;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example .cart_price_num_box .cart-item-price span {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example .cart_price_num_box .cart-item-price strike {
  font-size: 12px;
  color: #a7a7a7;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example .cart_price_num_box .check-num {
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 88px;
  height: 30px;
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example .cart_price_num_box .check-num span {
  padding: 0 10px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example .cart_price_num_box .check-num .counterMinus,
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example .cart_price_num_box .check-num .counterPlus {
  cursor: pointer;
  font-weight: lighter;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example .cart_price_num_box .check-num .counterPlus {
  font-weight: 320;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example .cart_price_num_box .check-num .counterMinus {
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example .cart_price_num_box .x-mark {
  color: #a0a0a0;
  cursor: pointer;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example .cart_price_num_box .x-mark :hover {
  color: #fa612f;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example {
  width: 100%;
  display: flex;
  align-content: space-between;
  flex-direction: column;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-logo {
  margin-top: 10px;
  border-top: 2px solid #b5b5b5;
  padding-top: 4px;
  width: 213px;
  display: flex;
  justify-content: start;
  align-items: center;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-logo img {
  width: 20px;
  margin-right: 7px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-logo span {
  font-size: 16px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img {
  width: 100%;
  display: flex;
  margin-bottom: 2px;
  flex: 2;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .checkbox {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .checkbox .custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .checkbox .custom-checkbox input {
  display: none;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .checkbox .custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  position: relative;
  margin-right: 8px;
  transition: background-color 0.3s, border-color 0.3s;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .checkbox .custom-checkbox input:checked + .checkmark {
  background-color: #5f0080;
  border-color: #5f0080;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .checkbox .custom-checkbox input:checked + .checkmark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  transform: translate(-50%, -50%);
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .checkbox .custom-checkbox input:not(:checked) + .checkmark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: white;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .cart-item-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .cart-item-text img {
  width: 60px;
  height: 80px;
  border-radius: 4px;
  margin-left: 8px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .cart-item-text span {
  font-size: 14px;
  padding: 8px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .cart-item-text .delivery_mark {
  display: flex;
  flex-direction: column;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .cart-item-text .delivery_mark span {
  font-size: 14px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .cart-item-text .delivery_mark .delivery_info {
  display: flex;
  align-items: center;
  text-align: center;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .cart-item-text .delivery_mark .delivery_info .delivery_text {
  color: #5f0080;
  display: flex;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .cart-item-text .delivery_mark .delivery_info span {
  color: #bd76ff;
  font-weight: 500;
  font-size: 12px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .cart-item-text .delivery_mark .delivery_info span i {
  font-size: 14px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example .cart_price_num_box {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 23px;
  flex: 1;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example .cart_price_num_box .cart-item-price {
  display: flex;
  flex-direction: column;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example .cart_price_num_box .cart-item-price span {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example .cart_price_num_box .cart-item-price strike {
  font-size: 12px;
  color: #a7a7a7;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example .cart_price_num_box .check-num {
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 88px;
  height: 30px;
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example .cart_price_num_box .check-num span {
  padding: 0 10px;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example .cart_price_num_box .check-num .counterMinus,
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example .cart_price_num_box .check-num .counterPlus {
  cursor: pointer;
  font-weight: lighter;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example .cart_price_num_box .check-num .counterPlus {
  font-weight: 320;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example .cart_price_num_box .check-num .counterMinus {
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example .cart_price_num_box .x-mark {
  color: #a0a0a0;
  cursor: pointer;
}
main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example .cart_price_num_box .x-mark :hover {
  color: #fa612f;
}
main #main #cart-order-box {
  width: 285px;
}
main #main #cart-order-box .delivery_info {
  padding: 10px;
}
main #main #cart-order-box .delivery_info .delivery_logo {
  margin-left: 20px;
  display: flex;
}
main #main #cart-order-box .delivery_info .delivery_logo img {
  width: 20px;
  margin-right: 4px;
}
main #main #cart-order-box .delivery_info .delivery_logo h3 {
  color: #333;
  font-size: 16px;
}
main #main #cart-order-box .delivery_info .delivery_search {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
main #main #cart-order-box .delivery_info .delivery_search span {
  font-size: 16px;
}
main #main #cart-order-box .delivery_info .delivery_search span b {
  color: #5f0080;
}
main #main #cart-order-box .delivery_info .delivery_search input[type=button] {
  width: 239px;
  height: 37px;
  margin-top: 17px;
  background: #fff;
  color: #5f0080;
  border: 1px solid #5f0080;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
main #main #cart-order-box .delivery_info .delivery_search input[type=button]:hover {
  background: #5f0080;
  color: #fff;
}
main #main #cart-order-box .cart-price-box {
  margin: 20px;
  padding: 20px;
  background: #f4f4f4;
}
main #main #cart-order-box .cart-price-box .discount-price {
  margin-bottom: 20px;
}
main #main #cart-order-box .cart-price-box .discount-price .price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
main #main #cart-order-box .cart-price-box .total-price {
  display: flex;
  justify-content: space-between;
}
main #main #cart-order-box .order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #main #cart-order-box .order-btn input[type=button] {
  width: 239px;
  height: 37px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  background: #5f0080;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
main #main #cart-order-box .order-btn input[type=button]:hover {
  background: #a864d8;
  color: #fff;
}
main #main #cart-order-box .order-btn span {
  padding: 20px;
  font-size: 10px;
  color: #7f7f7f;
}

/* rec section*/
#cart-rec-box {
  width: 1050px;
}
#cart-rec-box .cart-rec-box {
  width: 1050px;
  display: flex;
  flex-direction: column;
}
#cart-rec-box .cart-rec-box .cart-rec-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 36px;
  margin-bottom: 44px;
}
#cart-rec-box .cart-rec-box .rec-item-box {
  width: 100%;
  margin-left: 5px;
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart-rec-img {
  width: 95%;
  border-radius: 8px;
  overflow: hidden;
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart-rec-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
  transform: scale(100%);
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart-rec-img img:hover {
  transform: scale(113%);
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .rec-price-coupon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 78.86px;
  height: 30px;
  font-size: 14px;
  font-weight: normal;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #bd76ff;
  color: #fff;
  z-index: 1;
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart-rec-btn {
  width: 95%;
  margin-top: 6px;
  margin-bottom: 4px;
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart-rec-btn button {
  width: 100%;
  height: 36px;
  background: #fff;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  transition: all 0.3s;
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart-rec-btn button:hover {
  background: #5f0080;
  color: #f4f4f4;
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart_rec_text {
  width: 95%;
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart_rec_text .cart_rec_price .rec_text01 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart_rec_text .cart_rec_price .rec_text01 strike {
  font-size: 14px;
  color: #b5b5b5;
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart_rec_text .cart_rec_price .rec_text02 {
  display: flex;
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart_rec_text .cart_rec_price .rec_text02 :nth-child(1) {
  font-size: 16px;
  color: #fa622f;
  margin-right: 7px;
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .comment_text {
  width: 95%;
  display: flex;
  margin-top: 4px;
  text-align: center;
  gap: 6px;
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .comment_text i {
  height: 16px;
  color: #999999;
}
#cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .comment_text p {
  font-size: 13px;
  color: #999999;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal .modal_content_inner {
  width: 560px;
  height: 448px;
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto;
  border-radius: 5px;
}
.modal .modal_content_inner .modal_heading {
  background: #5f0080;
  border-radius: 2px 2px 0 0;
  top: 0;
  width: 100%;
  height: 22px;
  color: #5f0080;
  display: flex;
  justify-content: end;
}
.modal .modal_content_inner .modal_heading .order {
  display: flex;
  justify-content: center;
  font-size: 10px;
}
.modal .modal_content_inner .modal_heading .close {
  color: #aaa;
  float: right;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
.modal .modal_content_inner .modal_heading .close:hover,
.modal .modal_content_inner .modal_heading .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal_content_inner .modal_order_btn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  border-right: 1px solid #fff;
}
.modal .modal_content_inner .modal_order_btn span {
  text-align: center;
  font-size: 12px;
  font-weight: normal;
}
.modal .modal_content_inner .modal_order_btn :nth-child(1) {
  width: 150px;
  height: 28px;
  background: #5f0080;
  color: #f4f4f4;
  border-radius: 2px 0 0 0;
}
.modal .modal_content_inner .modal_order_btn :nth-child(2) {
  width: 150px;
  height: 28px;
  background: #5f0080;
  color: #f4f4f4;
  border-radius: 0 2px 0 0;
}
.modal .modal_content_inner .modal_content {
  display: flex;
  margin-left: 130px;
  margin-right: 130px;
}
.modal .modal_content_inner .modal_content .modal_login {
  margin-top: 10px;
}
.modal .modal_content_inner .modal_content .modal_login :focus {
  outline: none;
}
.modal .modal_content_inner .modal_content .modal_login :focus::-moz-placeholder {
  color: transparent;
}
.modal .modal_content_inner .modal_content .modal_login :focus::placeholder {
  color: transparent;
}
.modal .modal_content_inner .modal_content .modal_login .modal_login_text {
  display: block;
  gap: 10px;
  width: 300px;
  height: 44px;
  border: 1px solid #a1a1a1;
  border-radius: 4px;
  padding: 10px;
}
.modal .modal_content_inner .modal_content .modal_login .modal_login_text :focus {
  border: 1px solid #5f0080;
  border-radius: 4px;
}
.modal .modal_content_inner .modal_content .modal_login .idpw_such {
  gap: 4px;
  margin-bottom: 5px;
  text-align: right;
}
.modal .modal_content_inner .modal_content .modal_login .idpw_such span {
  font-size: 13px;
  color: #333;
}
.modal .modal_content_inner .modal_content .modal_login .idpw_such .such {
  font-size: 10px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.modal .modal_content_inner .modal_content .modal_login .idpw_such :hover {
  font-weight: bold;
  border-bottom: 1px solid #5f0080;
  color: #5f0080;
}
.modal .modal_content_inner .modal_content .modal_login #easy_login {
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
.modal .modal_content_inner .modal_content .modal_login #icon_img {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  gap: 20px;
  cursor: pointer;
}
.modal .modal_content_inner .modal_content .modal_login .join_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal .modal_content_inner .modal_content .modal_login .join_info span {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.modal .modal_content_inner .modal_content .modal_login .join_info #Join_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20px;
  margin-top: 12px;
  margin-bottom: 10px;
  background-color: #5f0080;
  color: #fff;
  border-radius: 4px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}

/* Adress modal */
#addressModal .address_modal_content {
  flex-direction: column;
  display: flex;
  width: 100%;
  padding: 0 60px;
}
#addressModal .address_modal_content .address_search {
  margin-top: 20px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 4px;
}
#addressModal .address_modal_content .address_search input[type=text] {
  border: none;
  border-bottom: 2px solid #333333;
}
#addressModal .address_modal_content .address_search .fa-magnifying-glass {
  font-size: 16px;
  padding: 6px;
  background: #5f0080;
  border-radius: 4px;
  cursor: pointer;
  color: #fefefe;
}
#addressModal .address_modal_content .address_search .fa-magnifying-glass:hover {
  background: #bd76ff;
}
#addressModal .address_modal_content .address_search :focus {
  outline: none;
}
#addressModal .address_modal_content .address_search input[type=text]:focus {
  border-bottom: 2px solid #5f0080;
}
#addressModal .address_modal_content .address_search :focus::-moz-placeholder {
  color: transparent;
}
#addressModal .address_modal_content .address_search :focus::placeholder {
  color: transparent;
}
#addressModal .address_modal_content .address_tip {
  display: flex;
  flex-direction: column;
  text-align: left;
  background: #f4f4f4;
  border-radius: 8px;
  padding: 20px 30px;
  gap: 8px;
}
#addressModal .address_modal_content .address_tip h2 {
  font-size: 18px;
  color: #5f0080;
}
#addressModal .address_modal_content .address_tip p {
  margin-top: 4px;
  font-size: 12px;
  color: #222;
}
#addressModal .address_modal_content .address_tip span {
  font-size: 10px;
  color: #652c91;
}

/* 모달 기본 스타일 */
#deleteModal {
  display: none; /* 기본적으로는 보이지 않음 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
}
#deleteModal .modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* 작은 크기 */
  border-radius: 10px;
}
#deleteModal .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 15px;
}
#deleteModal .modal-content .modal-body {
  text-align: center;
}
#deleteModal.active {
  display: block;
}

@media screen and (max-width: 1050px) {
  body {
    width: 100%;
  }
  body .cart-container {
    width: 390px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .cart-container .cart-title-text {
    font-size: 16px;
  }
  body .cart-container .checkbox {
    font-size: 14px;
  }
  /* section */
  main {
    width: 390px;
  }
  main #main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  main #main #cart_item-box {
    width: 100%;
    flex-direction: column;
  }
  main #main #cart_item-box .cart-item-box .cart-logo img {
    display: none;
  }
  main #main #cart_item-box .cart-item-box .cart-logo span {
    display: none;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example {
    padding: 6px;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-logo {
    justify-content: start;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-logo img {
    width: 20px;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-logo span {
    font-size: 12px;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img {
    width: 100%;
    transform: translateX(-10%);
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .cart-item-text img {
    width: 83px;
    height: 111px;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .cart-item-text .delivery_mark {
    display: flex;
    flex-direction: column;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .cart-item-text .delivery_mark span {
    font-size: 14px;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .check-img .cart-item-text .delivery_mark .delivery_text {
    color: #5f0080;
    display: flex;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .cart_price_num_box {
    width: 100%;
    gap: 50px;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #cold-item-example #cold-item .cart_price_num_box .cart-item-price {
    margin-right: 22px;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example {
    padding: 6px;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-logo {
    justify-content: start;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-logo img {
    width: 20px;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-logo span {
    font-size: 18px;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item {
    border: 1px solid #f00;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img {
    width: 100%;
    transform: translateX(-10%);
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .cart-item-text img {
    width: 83px;
    height: 111px;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .check-img .cart-item-text span {
    font-size: 14px;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .cart_price_num_box {
    width: 100%;
    gap: 50px;
  }
  main #main #cart_item-box .cart-item-box .cart-item-inner .item-inner-box #prozen-item-example #prozen-item .cart_price_num_box .cart-item-price {
    margin-right: 22px;
  }
  main #main #cart-order-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  main #main #cart-order-box .delivery_info {
    margin-top: 20px;
  }
  main #main #cart-order-box .delivery_info .delivery_search {
    display: flex;
  }
  main #main #cart-order-box .delivery_info .delivery_search input[type=button] {
    width: 100%;
  }
  main #main #cart-order-box .order-btn input[type=button] {
    font-size: 14px;
    font-weight: bold;
    width: 90%;
    cursor: pointer;
  }
  main #main #cart-order-box .order-btn span {
    font-size: 12px;
  }
  /* rec section*/
  #cart-rec-box {
    width: 100%;
  }
  #cart-rec-box .cart-rec-box {
    width: 390px;
  }
  #cart-rec-box .cart-rec-box .cart-rec-text {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  #cart-rec-box .cart-rec-box .rec-item-box {
    width: 360px;
    margin-left: 18px;
  }
  #cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart-rec-img {
    margin-bottom: 10px;
  }
  #cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart-rec-img img {
    width: 100%;
  }
  #cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .rec-price-coupon {
    width: 53px;
    height: 25px;
    font-size: 10px;
  }
  #cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart-rec-btn {
    margin-top: -1px;
  }
  #cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart-rec-btn button {
    width: 114px;
    font-size: 12px;
  }
  #cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart_rec_text .cart_rec_price {
    font-size: 12px;
  }
  #cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart_rec_text .cart_rec_price .rec_text01 strike {
    font-size: 12px;
    text-align: right;
    margin-top: 4px;
    margin-right: 16px;
  }
  #cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart_rec_text .cart_rec_price .rec_text02 .percent {
    font-size: 16px;
  }
  #cart-rec-box .cart-rec-box .rec-item-box .cart-rec-item .cart_rec_text .cart_rec_price .rec_text02 .price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  .modal .modal_content_inner {
    width: 390px;
  }
  .modal .modal_content_inner .modal_content {
    width: 100%;
    margin: 0 43px;
  }
  .modal .modal_content_inner .modal_content .modal_login .idpw_such {
    gap: 4px;
    margin-bottom: 5px;
    text-align: right;
  }
  .modal .modal_content_inner .modal_content .modal_login .idpw_such span {
    font-size: 10px;
    color: #333;
  }
  .modal .modal_content_inner .modal_content .modal_login .idpw_such .such {
    font-size: 10px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
  }
  .modal .modal_content_inner .modal_content .modal_login .idpw_such :hover {
    border-bottom: 1px solid #5f0080;
    color: #5f0080;
  }
  .modal .modal_content_inner .join_info #Join_btn {
    border-radius: 8px;
    cursor: pointer;
  }
}
#addressModal .modal_content {
  width: 78%;
}
#addressModal .modal_content .address_tip h2 {
  font-size: 18px;
}
#addressModal .modal_content .address_tip p {
  font-size: 12px;
}
#addressModal .modal_content .address_tip #tip-header {
  color: #222;
  font-weight: bold;
}
#addressModal .modal_content .address_tip span {
  font-size: 10px;
}