@import "./style.css";

$color: (
  bg-light-color: #fff,
  main-color: #5f0080,
  point1-color: #bd76ff,
  point2-color: #26074d,
  point3-color: #652c91,
  point4-color: #7897bc,
  point5-color: #a864d8,
  point6-color: #faf4ff,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  // display: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 5px solid #000;
  .cart-container {
    width: 1050px;
    display: flex;
    flex-direction: column;
    // border: 3px solid #5f0080;
    .cart-title-text {
      text-align: center;
      margin-bottom: 8px;
      height: 115px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: normal;
      color: #d1d1d1;
    }
    .checkbox {
      display: flex;
      align-items: center;
      gap: 10px;
      .custom-checkbox {
        display: flex;
        align-items: center;
        cursor: pointer;
        input {
          display: none;
        }
        .checkmark {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #fff;
          border: 2px solid #ccc;
          position: relative;
          margin-right: 8px;
          transition: background-color 0.3s, border-color 0.3s;
        }
        input:checked + .checkmark {
          background-color: #5f0080;
          border-color: #5f0080;
        }
        input:checked + .checkmark:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: white;
          transform: translate(-50%, -50%);
        }
        input:not(:checked) + .checkmark:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 0;
          height: 0;
          border-radius: 50%;
          background: white;
          transform: translate(-50%, -50%);
          transition: width 0.3s, height 0.3s;
        }
      }
    }
  }
}

/* section */
main {
  width: 1050px;
  border: 3px solid #f00;
  display: flex;
  justify-content: space-between;
  #main {
    width: 1050px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #0f0;
    #cart_item-box {
      display: flex;
      .cart-item-box {
        width: 722px;
        margin-top: 8px;
        margin-bottom: 8px;
        border-top: 2px solid #f4f4f4;
        border-bottom: 2px solid #f4f4f4;
        display: flex;
        flex-direction: column;
        padding: 10px;
        // border-top: 2px solid #ccc;
        // border-bottom: 2px solid #ccc;
        // border: 1px solid #00f;
        width: 100%;
        // border: 1px solid #00f;
        .cart-logo {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 20px;
          img {
          }
          span {
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            color: map-get($color, main-color);
          }
        }
        .cart-item-inner {
          // border: 1px solid #f00;
          display: flex;
          flex-direction: column;
          //   border: 1px solid #00f;
          .item-inner-box {
            border: 1px solid #00f;
            display: flex;
            flex-direction: column;
            margin-top: 26px;
            margin-bottom: 26px;
            #cold-item-example {
              width: 100%;
              // border: 1px solid #000;
              display: flex;
              flex-direction: column;
              #cold-logo {
                border-top: 2px solid #333;
                display: flex;
                justify-content: start;
                align-items: center;
                width: 213px;
                // border: 1px solid #f00;
                margin-bottom: 25px;
                img {
                  width: 30px;
                  margin-right: 7px;
                }
                span {
                  font-size: 18px;
                }
              }
              #cold-item {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .check-img {
                  width: 500px;
                  display: flex;
                  border: 1px solid #f00;
                  .checkbox {
                    // border: 1px solid orangered;
                    display: flex;
                    margin-bottom: 10px;
                    align-items: center;
                    gap: 10px;
                    .custom-checkbox {
                      display: flex;
                      align-items: center;
                      cursor: pointer;
                      input {
                        display: none;
                      }
                      .checkmark {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #fff;
                        border: 2px solid #ccc;
                        position: relative;
                        margin-right: 8px;
                        transition: background-color 0.3s, border-color 0.3s;
                      }
                      input:checked + .checkmark {
                        background-color: #5f0080;
                        border-color: #5f0080;
                      }
                      input:checked + .checkmark:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: white;
                        transform: translate(-50%, -50%);
                      }
                      input:not(:checked) + .checkmark:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 0;
                        height: 0;
                        border-radius: 50%;
                        background: white;
                        transform: translate(-50%, -50%);
                        transition: width 0.3s, height 0.3s;
                      }
                    }
                  }
                  .cart-item-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                      width: 60px;
                      height: 80px;
                      margin-left: 17px;
                      margin-right: 23px;
                    }
                    span {
                      // border: 1px solid #f00;
                      font-size: 14px;
                      padding: 23px;
                    }
                  }
                }
              }
              .cart_price_num_box {
                width: 216px;
                border: 1px solid #f00;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 23px;
                .cart-item-price {
                  display: flex;
                  flex-direction: column;
                  span {
                    font-size: 16px;
                    font-weight: bold;
                    color: #333;
                  }
                  strike {
                    font-size: 12px;
                    color: #a7a7a7;
                  }
                }
                .check-num {
                  border: none;
                  .minus {
                    font-size: 12px;
                    color: #333;
                    cursor: pointer;
                  }
                  .check-item-num {
                    color: #333;
                    margin-left: 10px;
                    margin-right: 10px;
                  }
                  .plus {
                    font-size: 12px;
                    color: #333;
                    cursor: pointer;
                  }
                }
                .x-mark {
                  color: #a0a0a0;
                  cursor: pointer;
                  :hover {
                    color: #fa612f;
                  }
                }
              }
            }
            #prozen-item-example {
              width: 100%;
              // border: 1px solid #000;
              display: flex;
              flex-direction: column;
              #prozen-logo {
                // border: 1px solid #f00;
                margin-top: 10px;
                border-top: 2px solid #333;
                width: 213px;
                margin-bottom: 25px;
                display: flex;
                justify-content: start;
                align-items: center;
                img {
                  width: 30px;
                  margin-right: 7px;
                }
                span {
                  font-size: 18px;
                }
              }
              #prozen-item {
                width: 100%;
                display: flex;
                justify-content: space-between;

                // border: 1px solid #f00;
                .check-img {
                  width: 500px;
                  display: flex;
                  border: 1px solid #f00;
                  .checkbox {
                    // border: 1px solid orangered;
                    display: flex;
                    margin-bottom: 10px;
                    align-items: center;
                    gap: 10px;
                    .custom-checkbox {
                      display: flex;
                      align-items: center;
                      cursor: pointer;
                      input {
                        display: none;
                      }
                      .checkmark {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #fff;
                        border: 2px solid #ccc;
                        position: relative;
                        margin-right: 8px;
                        transition: background-color 0.3s, border-color 0.3s;
                      }
                      input:checked + .checkmark {
                        background-color: #5f0080;
                        border-color: #5f0080;
                      }
                      input:checked + .checkmark:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: white;
                        transform: translate(-50%, -50%);
                      }
                      input:not(:checked) + .checkmark:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 0;
                        height: 0;
                        border-radius: 50%;
                        background: white;
                        transform: translate(-50%, -50%);
                        transition: width 0.3s, height 0.3s;
                      }
                    }
                  }
                  .cart-item-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                      width: 60px;
                      height: 80px;
                      margin-left: 17px;
                      margin-right: 23px;
                    }
                    span {
                      // border: 1px solid #f00;
                      font-size: 14px;
                      padding: 23px;
                    }
                  }
                }
              }
              .cart_price_num_box {
                width: 216px;
                border: 1px solid #f00;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 23px;
                .cart-item-price {
                  display: flex;
                  flex-direction: column;
                  span {
                    font-size: 16px;
                    font-weight: bold;
                    color: #333;
                  }
                  strike {
                    font-size: 12px;
                    color: #a7a7a7;
                  }
                }
                .check-num {
                  border: none;
                  .minus {
                    font-size: 12px;
                    color: #333;
                    cursor: pointer;
                  }
                  .check-item-num {
                    color: #333;
                    margin-left: 10px;
                    margin-right: 10px;
                  }
                  .plus {
                    font-size: 12px;
                    color: #333;
                    cursor: pointer;
                  }
                }
                .x-mark {
                  color: #a0a0a0;
                  cursor: pointer;
                  :hover {
                    color: #fa612f;
                  }
                }
              }
            }
          }
        }
      }
    }
    #cart-order-box {
      width: 285px;
      border: 1px solid #f00;
      .delivery_info {
        padding: 10px;
        .delivery_logo {
          margin-left: 20px;
          display: flex;
          img {
            width: 20px;
            margin-right: 4px;
          }
          h3 {
            color: #333;
            font-size: 16px;
          }
        }
        .delivery_search {
          padding: 20px;
          display: flex;
          flex-direction: column;
          span {
            font-size: 16px;
            b {
              color: #5f0080;
            }
          }
          input[type="button"] {
            width: 239px;
            height: 37px;
            margin-top: 17px;
            background: #fff;
            color: map-get($color, main-color);
            border: 1px solid #5f0080;
            border-radius: 4px;
            &:hover {
              background: map-get($color, main-color);
              color: #fff;
            }
          }
        }
      }
      .cart-price-box {
        margin: 20px;
        padding: 20px;
        background: #f4f4f4;
        .discount-price {
          margin-bottom: 20px;
          .price {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
          }
        }
        .total-price {
          display: flex;
          justify-content: space-between;
        }
      }
      .order-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        input[type="button"] {
          width: 239px;
          height: 37px;
          margin-top: 10px;
          margin-bottom: 10px;
          color: #fff;
          background: #d1d1d1;
          border: 1px solid transparent;
          border-radius: 4px;
          &:hover {
            background: map-get($color, main-color);
            color: #fff;
          }
        }
        span {
          padding: 20px;
          font-size: 10px;
          color: #7f7f7f;
        }
      }
    }
  }
}

/* rec section*/
#cart-rec-box {
  border: 1px solid #00f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1050px;
  .cart-rec-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // border: 1px solid #f00;
    .cart-rec-text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      margin-bottom: 36px;
    }
    .rec-item-box {
      // border: 2px solid #00f;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .cart-rec-item {
        // border: 1px solid #f00;
        width: 230px;
        position: relative;
        .cart-rec-img {
          img {
            width: 100%;
          }
        }
        .rec-price-coupon {
          position: absolute;
          top: 8px;
          left: 8px;
          width: 78.86px;
          height: 30px;
          font-size: 14px;
          font-weight: normal;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          background: #bd76ff;
          color: #fff;
          z-index: 1;
        }
        .opacity_text {
          position: absolute;
          // border: 1px solid #f00;
          bottom: 165px;
          left: 0;
          width: 100%;
          height: 37px;
          font-size: 16px;
          font-weight: normal;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(0, 0, 0, 0.4);
          color: #fff;
          z-index: 2;
        }
        .cart-rec-btn {
          margin-top: 6px;
          margin-bottom: 4px;
          button {
            width: 100%;
            height: 36px;
            background: #fff;
            font-weight: bold;
            border: 1px solid #ddd;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            font-size: 16px;
            font-weight: normal;
            color: #333333;
          }
          :hover {
            // width: 249px;
            // height: 36px;
            background: #5f0080;
            color: #f4f4f4;
          }
        }
        .cart_rec_text {
          .cart_rec_price {
            .rec_text01 {
              display: flex;
              flex-direction: column;
              strike {
                font-size: 14px;
                color: #b5b5b5;
              }
            }
            .rec_text02 {
              display: flex;
              :nth-child(1) {
                font-size: 16px;
                color: #fa622f;
                margin-right: 7px;
              }
            }
          }
        }
        .comment_text {
          display: flex;
          margin-top: 4px;
          text-align: center;
          gap: 6px;
          i {
            height: 16px;
            color: #999999;
          }
          p {
            font-size: 13px;
            color: #999999;
          }
        }
      }
    }
  }
}

/* modal */
.modal {
  display: none;
  // display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  .modal_content_inner {
    width: 560px;
    height: 448px;
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto;
    border-radius: 5px;
    .modal_heading {
      background: #5f0080;
      border-radius: 5px 5px 0 0;
      top: 0;
      width: 100%;
      color: #5f0080;
      .order {
        display: flex;
        justify-content: center;
        font-size: 10px;
      }
      .close {
        color: #aaa;
        float: right;
        margin-right: 10px;
        font-size: 14px;
        font-weight: bold;
      }
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .modal_order_btn {
      display: flex;
      justify-content: center;
      margin-top: 25px;
      border-right: 1px solid #fff;
      span {
        text-align: center;
        font-size: 12px;
        font-weight: normal;
      }
      :nth-child(1) {
        width: 150px;
        height: 28px;
        background: #5f0080;
        color: #f4f4f4;
        border-radius: 5px 0 0 0;
      }
      :nth-child(2) {
        width: 150px;
        height: 28px;
        background: #5f0080;
        color: #f4f4f4;
        border-radius: 0 5px 0 0;
      }
    }
    .modal_content {
      display: flex;
      margin-left: 130px;
      margin-right: 130px;
      margin-top: 25px;
      .modal_login_text {
        display: block;
        gap: 10px;
        width: 300px;
        height: 54px;
        border: 1px solid #a1a1a1;
        border-radius: 4px;
        padding: 10px;
        // margin: 10px 10px;
        // padding: 10px 10px;
        :focus {
          border: 1px solid #5f0080;
          border-radius: 4px;
        }
      }
      ul {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 2px;
        display: flex;
        li {
          left: 0;
          font-size: 8px;
          color: #333;
        }
      }
      #easy_login {
        margin-top: 6px;
        margin-bottom: 12px;
        font-size: 12px;
        font-weight: bold;
        color: #333;
      }
      #icon_img {
        display: flex;
        justify-content: center;
        padding-top: 16px;
        gap: 20px;
        cursor: pointer;
      }
      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          display: flex;
          flex-direction: column;
          font-size: 12px;
        }
        #Join_btn {
          // padding: 10px;
          width: 100px;
          height: 20px;
          margin-top: 12px;
          // margin-bottom: 10px;
          background-color: #5f0080;
          color: #fff;
          border-radius: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  body {
    width: 100%;
    // background: #f9f9f9;
    .cart-container {
      width: 390px;
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
      background: #fff;
      margin: 0 auto;
      // overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // border: 1px solid #f00;
      .cart-title-text {
        font-size: 16px;
      }
      .checkbox {
        font-size: 14px;
      }
    }
  }

  /* section */
  main {
    width: 390px;
    #main {
      width: 100%;
      display: flex;
      flex-direction: column;
      #cart_item-box {
        // border: 2px solid orange;
        width: 100%;
        .cart-item-box {
          // border: 2px solid blue;
          .cart-logo {
            img {
              display: none;
            }
            span {
              display: none;
            }
          }
          .cart-item-inner {
            .item-inner-box {
              // border: 2px solid #a864d8;
              #cold-item-example {
                padding: 6px;
                #cold-logo {
                  justify-content: start;
                  img {
                    width: 20px;
                  }
                  span {
                    font-size: 18px;
                  }
                }
                #cold-item {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  .check-img {
                    width: 100%;
                    .checkbox {
                    }
                    .cart-item-text {
                      img {
                        width: 83px;
                        height: 111px;
                      }
                      span {
                        font-size: 14px;
                      }
                    }
                  }
                  .cart_price_num_box {
                    width: 100%;
                    gap: 50px;
                    .cart-item-price {
                      span {
                      }
                      strike {
                      }
                    }
                    .check-num {
                    }
                    .x-mark {
                    }
                  }
                }
              }
              #prozen-item-example {
                #prozen-logo {
                  justify-content: start;
                  img {
                    width: 20px;
                  }
                  span {
                    font-size: 18px;
                  }
                }
                .checkbox {
                  .custom-checkbox {
                  }
                }
                #prozen-item {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                }
                .cart-item-text {
                  display: flex;
                  img {
                    width: 83px;
                    height: 111px;
                  }
                  span {
                  }
                }
                .check-num {
                }
                #mobile-text {
                  display: flex;
                  justify-content: space-between;
                  .cart-item-price {
                    span {
                    }
                    strike {
                    }
                  }
                  .x-mark {
                  }
                }
              }
            }
          }
        }
      }
      #cart-order-box {
        width: 100%;
        .delivery_info {
          margin-top: 20px;
          // border: 1px solid #c00;
          .delivery_logo {
            img {
            }
            h3 {
            }
          }
          .delivery_search {
            justify-content: center;
            align-items: center;
            span {
              b {
              }
            }
            input[type="button"] {
              width: 100%;
            }
          }
        }
        .cart-price-box {
          .discount-price {
            .price {
            }
          }
          .total-price {
          }
        }
        .order-btn {
          input[type="button"] {
            width: 90%;
          }
          span {
            font-size: 12px;
          }
        }
      }
    }
  }

  /* rec section*/
  #cart-rec-box {
    width: 100%;
    .cart-rec-box {
      width: 390px;
      .cart-rec-text {
      }
      .rec-item-box {
        :nth-child(3) {
          display: none;
        }
        .cart-rec-item {
          width: 114px;
          .cart-rec-img {
            img {
              width: 114px;
            }
          }
          .rec-price-coupon {
          }
          .opacity_text {
            top: 110px;
            width: 114px;
            font-size: 12px;
          }
          .cart-rec-btn {
            button {
              width: 114px;
            }
          }
          .cart_rec_text {
            .cart_rec_price {
              ul {
                li {
                }
              }
            }
            .comment_text {
              i {
              }
              p {
              }
            }
          }
        }
      }
    }
  }
}
