/*font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

/*variable*/
$color: (
  main: #5f0080,
  light: #fff,
);

$font-color: (
  font-red: #ef7793,
  font-dark: #333333,
  font-light: #727272,
  font-line: #c5c5c5,
);

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

/*custom*/
#join_container {
  font: normal 16px/1rem "Noto Sans KR", sans-serif;
  width: 1080px;
  margin: 0 auto;
  color: map-get($font-color, font-dark);
  .join_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    #title {
      width: 750px;
      border-bottom: 2px solid;
      h1 {
        text-align: center;
        font: bold 1.5rem/1;
        margin: 30px 0 50px;
      }
      h4 {
        display: flex;
        justify-content: end;
        margin-bottom: 10px;
        font-size: 0.6rem;
        color: map-get($font-color, font-light);
        span {
          color: map-get($font-color, font-red);
        }
      }
    }
    #main {
      width: 750px;
      form {
        #private {
          display: flex;
          flex-direction: column;
          border: 1px solid #f00;
          width: 100%;
          li {
            height: 60px;
            padding: 10px 20px;
            display: flex;
            & > div:nth-child(1) {
              width: 200px;
            }
            & > div:nth-child(2) {
              width: calc(100% - 380px);
            }
            & > div:nth-child(3) {
              width: 180px;
            }
            & input[type="text"],
            & input[type="password"] {
              width: 100%;
              padding: 10px;
              outline: none;
              border: 1px solid map-get($font-color, font-line);
            }
            .emailinner {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              border: 1px solid map-get($font-color, font-line);
              & > div {
                flex-grow: 1;
                border: none;
                input {
                  border: none;
                }
                &:nth-child(2) {
                  display: flex;
                  align-items: center;
                  select {
                    border: none;
                  }
                  input {
                    display: none;
                  }
                }
              }
            }
            .birth {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid map-get($font-color, font-line);
              border-radius: 4px;
              & > input {
                flex-grow: 1;
                border: none;
                height: 80%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
