/*font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*variable*/
$color: (
  color-light: #fff,
  color-line: #f4f4f4,
  main: #5f0080,
  bg-light-color: #fff,
  main-color: #5f0080,
  point1-color: #bd76ff,
  point2-color: #26074d,
  point3-color: #652c91,
  point4-color: #7897bc,
  point5-color: #a864d8,
  point6-color: #faf4ff,
);

$point-color: (
  main-light: #bd76ff,
  main-light2: #faf4ff,
  main-dark: #652c91,
  point-blue: #7897bc,
);

$font-color: (
  font-point-red: #fa612f,
  font1: #333333,
  font2: #666666,
  font3: #999999,
  font4: #b5b5b5,
);

/*modal*/
#blackB {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
  &.active {
    display: block;
  }
}

#longModal {
  position: absolute;
  width: 320px;
  height: 160px;
  border-radius: 10px;
  background: #fff;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  div {
    position: relative;
    top: 0;
    width: 320px;
    height: 160px;
    border: 1px solid #fff;
    border-radius: 10px;
    h1 {
      font-size: 1rem;
      font-weight: normal;
      text-align: center;
      margin-top: 44px;
      line-height: 1.2;
    }
    .close {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1rem;
      color: map-get($color, main);
      cursor: pointer;
    }
  }
  &.active {
    display: block;
  }
}
body {
  // height: 100vh;
}
// header
header {
  position: relative;
  width: 100%;
  .header_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .inner {
      width: 1050px;
      height: 100%;
      .header_top_bar {
        display: flex;
        justify-content: flex-end;
        position: relative;
        span {
          cursor: pointer;
          padding: 10px;
          font-size: 12px;
          color: #333;
          &:first-child {
            color: map-get($color, main-color);
          }
          .customerService {
            z-index: 10;
            background: #fff;
            font-size: 12px;
            position: absolute;
            top: 33px;
            right: 0;
            display: none;
            flex-direction: column;
            gap: 5px;
            color: #333;
            padding: 8px;
            padding-right: 40px;
            border: 1px solid #ddd;
            &.active {
              display: flex;
            }
          }
        }
      }
      .header_main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin-bottom: 25px;

        .header_main_left {
          display: flex;
          align-items: center;
          gap: 20px;

          span {
            cursor: pointer;
            font-size: 18px;
            color: map-get($color, main-color);
            font-weight: 500;
          }
          .logo {
            width: 82px;
          }
          & > img:nth-child(2) {
            display: none;
          }
        }
        .header_main_center {
          justify-self: center;
          position: relative;
          input {
            font-size: 18px;
            padding: 0 20px;
            border-radius: 10px;
            width: 400px;
            height: 50px;
            border: 1px solid map-get($color, main-color);
            &:focus {
              outline: none;
              &::placeholder {
                transition: all 0.1s;
                color: transparent;
              }
            }
          }
          button {
            background-color: transparent; /* 배경색 투명 */
            border: none; /* 테두리 제거 */
            padding: 0; /* 안쪽 여백 제거 */
            margin: 0; /* 바깥 여백 제거 */
            cursor: pointer; /* 마우스 커서 포인터로 변경 */
            display: flex; /* 버튼 내용을 중앙 정렬하기 위해 flexbox 사용 */
            align-items: center; /* 세로 중앙 정렬 */
            justify-content: center; /* 가로 중앙 정렬 */
            .fa-magnifying-glass {
              cursor: pointer;
              font-size: 20px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 20px;
              color: map-get($color, main-color);
            }
          }
        }
        .header_main_right {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 25px;
          font-size: 26px;
          color: map-get($color, main-color);
          span {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.header_sticky {
  z-index: 5;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba($color: #555, $alpha: 0.1);
  position: sticky;
  top: 0;
  .inner {
    width: 1050px;
    height: 100%;
    .header_bottom_gnb {
      display: grid;
      // justify-items: center;
      grid-template-columns: 100px 2fr 100px;
      font-size: 16px;
      font-weight: 500;
      color: #222;
      .lnb {
        padding: 15px 0;
        width: 100%;
        cursor: pointer;
        position: relative;
        transition: all 0.3s;
        &:hover > span {
          color: map-get($color, main-color);
        }
        &:hover > .fa-bars {
          color: map-get($color, main-color);
        }

        .category {
          width: 300px;
          height: 800px;
          overflow-y: scroll;
          background: #fff;
          font-size: 14px;
          box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.2);
          display: none;
          position: absolute;
          top: 53px;

          & > div {
            padding: 10px 20px;
            color: #666;
            display: flex;
            align-items: center;
            gap: 10px;
            img {
              width: 25px;
            }
          }
          &.active {
            display: block;
            div {
              transition: all 0.3s;
              &:hover {
                background-color: #e9e9e9;
                color: map-get($color, main-color);
              }
            }
          }
        }
        .subCategory {
          width: 300px;
          height: 800px;
          background: #f6f6f6;
          font-size: 14px;
          box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.2);
          display: none;
          position: absolute;
          color: #666;
          top: 53px;
          left: 300px;
          & div {
            padding: 10px 20px;
            transition: all 0.3s;
            &:hover {
              background-color: #fff;
              color: map-get($color, main-color);
            }
          }
          &.active {
            display: block;
          }
        }
      }
      .gnb {
        display: flex;
        justify-content: center;
        gap: 120px;

        a {
          padding: 15px 10px;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            color: map-get($color, main-color);
          }
        }
      }
    }
  }
}

/*login*/
.login_container {
  margin: 5% 0;
  font: normal 16px/1rem "Noto Sans KR", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login_inner {
    height: 100%;
    width: 1050px;
    .mobileHeader {
      display: none;
    }
    .login_wrap {
      width: 340px;
      margin: 0 auto;
      position: relative;

      h1 {
        text-align: center;
        // margin-top: 70px;
        font: 600 1.5rem/1 "Noto Sans KR", sans-serif;
      }
      /*top*/
      .login_main {
        form {
          .id_password {
            margin: 29px 0 13px 0;
            input {
              width: 100%;
              height: 54px;
              border: 1px solid map-get($font-color, font4);
              border-radius: 4px;
              padding-left: 10px;
              &[type="text"] {
                margin-bottom: 4px;
              }
              &::placeholder {
                font-size: 0.8rem;
                color: map-get($font-color, font3);
                opacity: 1;
                transition: all 0.3s;
              }
              &:focus {
                outline: 1px solid map-get($color, main);
                &::placeholder {
                  opacity: 0;
                }
              }
            }
            .errorId {
              margin-bottom: 12px;
              font-size: 0.8rem;
              color: map-get($font-color, font-point-red);
            }
          }
          .find_container {
            width: 100%;
            display: flex;
            justify-content: end;
            font-size: 0.8rem;
            gap: 3px;
            & > a {
              border-bottom: 1px solid map-get($color, color-light);
              transition: all 0.3s;
              &:hover {
                color: map-get($color, main);
                border-bottom: 1px solid map-get($color, main);
              }
            }
          }

          //*automatic*//
          .automatic {
            width: 100%;
            height: 50px;
            margin: 10px 0;
            display: none;
            gap: 10px;
            align-items: center;
            justify-content: center;
            .autonumBox {
              height: 40px;
              width: 46%;
              background: map-get($font-color, font3);
              text-align: center;
              padding-top: 10px;
              border-radius: 4px 0 0 4px;
              .autonum {
                color: map-get($point-color, main-light2);
                font-size: 1.2rem;
              }
            }
            #autoN {
              height: 40px;
              width: 46%;
              padding: 4px;
              outline: none;
              border: 1px solid map-get($font-color, font3);
              border-radius: 0 4px 4px 0;
              padding-left: 10px;
            }
            &.active {
              display: flex;
            }
          }
        }
        /*btn*/
        .loginBtn_inner {
          display: flex;
          flex-direction: column;
          margin: 16px 0 36px 0;
          gap: 12px;
          input {
            height: 54px;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 4px;
            cursor: pointer;
            background: map-get($color, main);
            color: map-get($color, color-light);
            border: 1px solid map-get($color, main);
            transition: all 0.3s;
          }
          a {
            height: 54px;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 4px;
            cursor: pointer;
            & > input {
              width: 100%;
              background: map-get($color, color-light);
              border: 1px solid map-get($color, main);
              color: map-get($color, main);
              transition: all 0.3s;
            }
          }
        }
      }
    }
    /*easylogin bottom*/
    .login_easy {
      padding-top: 28px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > div {
        font-size: 0.8rem;
        color: map-get($font-color, font4);
        & > a {
          transition: all 0.3s;
          &:hover {
            color: map-get($color, main);
          }
        }
      }
      & > ul {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 26px;
        a > img {
          width: 40px;
          height: 40px;
        }
        li {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0);
            transition: all 0.3s;
            cursor: pointer;
          }
          &:hover::before {
            content: "";
            background: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}

// footer
footer {
  width: 100%;
  height: 360px;

  .footer_wrapper {
    border-top: 1px solid #ddd;
    width: 100%;
    height: 100%;
    .inner {
      padding: 20px 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 50px;
      .footer_left {
        h1 {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        & > span {
          b {
            font-size: 26px;
          }
        }
        .footer_left_info {
          margin-top: 20px;
          .left_info {
            display: flex;
            gap: 20px;
            margin-bottom: 10px;
            h2 {
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 130px;
              font-size: 14px;
              border: 1px solid #d7d7d7;
              border-radius: 4px;
              font-weight: normal;
              transition: all 0.3s;
              &:hover {
                background: map-get($color, main-color);
                color: white;
                border: 1px solid map-get($color, main-color);
              }
            }
            div {
              display: flex;
              flex-direction: column;
              font-size: 14px;
              color: #777;
            }
          }
          & > span {
            font-size: 12px;
            color: #999;
          }
        }
      }
      .footer_right {
        display: flex;
        flex-direction: column;
        gap: 25px;
        .footer_right_first {
          cursor: pointer;
          font-size: 14px;
          display: flex;
          gap: 20px;
        }
        .footer_right_second {
          font-size: 12px;
          color: #777;
          h4 {
            font-weight: normal;
          }
          b {
            color: map-get($color, main-color);
            font-weight: normal;
            cursor: pointer;
          }
        }
        .footer_right_third {
          cursor: pointer;
          display: flex;
          gap: 15px;
        }
      }
    }
  }
}
/*mobail*/
@media screen and (max-width: 1050px) {
  body {
    width: 100%;
    height: 100vh;
  }
  header {
    display: none;
  }
  .header_sticky {
    display: none;
  }
  .login_container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    .login_inner {
      width: 390px;
      padding: 0;
      background: #fff;
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
      .mobileHeader {
        border-bottom: 1px solid #ddd;

        width: 100%;
        height: 59px;
        display: flex;
        justify-content: center;
        align-items: center;
        .mobileHeaderInner {
          width: 360px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;
          position: relative;
          .mobileClose {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            color: map-get($color, main-color);
          }
          .mobile-cart-title {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            color: #333;
            font-size: 16px;
            transform: translate(-50%, -50%);
          }
        }
      }
      .login_wrap {
        h1 {
          display: none;
        }
      }
    }
  }
  footer {
    display: none;
  }
}
