// font import
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

// reset
@import url("./reset.scss");

$color: (
  bg-light-color: #fff,
  main-color: #5f0080,
  point1-color: #bd76ff,
  point2-color: #26074d,
  point3-color: #652c91,
  point4-color: #7897bc,
  point5-color: #a864d8,
  point6-color: #faf4ff,
  point-orange-color: #fa622f,
);

$main-width: 1050px;

// common
#app_container {
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

// main banner
#main_banner {
  width: 100%;
  height: 370px;
  position: relative;
  &:hover > .main_banner_arrow {
    opacity: 1;
  }
  .bg_img {
    width: 100%;
    height: 100%;
    background: url("../img/main/main_01.png") center/cover no-repeat;
    cursor: pointer;
  }
  .main_banner_arrow {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    opacity: 0;
    cursor: pointer;
    .fa-solid {
      padding: 20px 23px;
      background: rgba($color: #000000, $alpha: 0.5);
      border-radius: 50%;
      color: map-get($color, bg-light-color);
    }
  }
  .main_banner_counter {
    width: 1280px;
    margin: 0 auto;
    position: relative;
    top: -15%;
    .counter_wrapper {
      position: absolute;
      right: 0%;
      text-align: right;
      padding: 5px 20px;
      background: rgba($color: #000000, $alpha: 0.2);
      border-radius: 30px;
      color: map-get($color, bg-light-color);
    }
  }
}

// category_icon
#category_area {
  width: $main-width;
  height: 145px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  .category_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    cursor: pointer;
    &:hover {
      .category_item_icon {
        .icon_img {
          img {
            transform: translate(-50%, -50%) scale(110%);
          }
        }
      }
      .category_item_text {
        color: map-get($color, main-color);
      }
    }
    .category_item_icon {
      width: 105px;
      height: 105px;
      position: relative;
      .icon_img {
        img {
          width: 60px;
          height: 60px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          object-fit: cover;
          transition: all 0.3s;
        }
      }
      .icon_bg {
        width: 100%;
        height: 100%;
        background: #ededed;
        border-radius: 50%;
      }
    }
  }
}

// live
#live_area {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 92px;
  h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
    font-weight: 700;
  }
  p {
    text-align: center;
    font-size: 20px;
    margin-top: -25px;
    margin-bottom: 30px;
  }
  .live_slide_area {
    width: $main-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .live_item {
      width: 345px;
      height: 600px;
      overflow: hidden;
      border-radius: 15px;
      position: relative;
      cursor: pointer;
      .live_video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        &::before {
          content: "";
          width: 100%;
          height: 300px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.8) 100%
          );
        }
      }
      .live_video_ui {
        width: calc(100% - 60px);
        height: calc(100% - 60px);
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .video_ui_top {
          display: flex;
          justify-content: space-between;
          .video_ui_onair {
            color: #fff;
            padding: 2px 10px;
            background: map-get($color, point-orange-color);
            border-radius: 20px;
          }
          .video_ui_icon {
            display: flex;
            gap: 8px;
            .heart_icon {
              position: relative;
              i {
                font-size: 24px;
                position: absolute;
                top: 2px;
                left: -20px;
                color: map-get($color, bg-light-color);
                cursor: pointer;
                &.fa-solid {
                  color: #ff3156;
                  opacity: 0;
                }
              }
            }
            img {
              cursor: pointer;
            }
          }
        }
        .video_ui_bottom {
          height: 180px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .video_ui_name {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            color: map-get($color, bg-light-color);
            .ui_brand {
              font-size: 18px;
              font-weight: 700;
            }
            .ui_name {
              font-size: 22px;
            }
          }
          .video_ui_price {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .ui_view {
              display: flex;
              color: #9d9d9d;
              align-items: center;
              gap: 4px;
              font-size: 14px;
            }
            .ui_price {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              text-align: end;
              gap: 4px;
              .price {
                color: #9d9d9d;
                font-size: 22px;
                text-decoration: line-through;
              }
              .sale_price {
                display: flex;
                gap: 8px;
                align-items: flex-end;
                .sale_rate {
                  line-height: 150%;
                  padding: 0 10px;
                  font-size: 18px;
                  color: map-get($color, bg-light-color);
                  background: map-get($color, point-orange-color);
                  border-radius: 20px;
                }
                .sale_price {
                  line-height: 100%;
                  font-size: 32px;
                  font-weight: 700;
                  color: map-get($color, bg-light-color);
                }
              }
            }
          }
        }
      }
    }
  }
  .live_slide_arrow {
    width: calc($main-width + 60px);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    .live_slide_btn {
      i {
        font-size: 20px;
        padding: 15px 20px;
        background: map-get($color, bg-light-color);
        border-radius: 50%;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.2);
        cursor: pointer;
      }
    }
  }
}

// sub_banner
#sub_banner {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
