@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #f9f9f9;
}

.mobileCategory {
  width: 390px;
  background: #fff;
}
.mobileCategory .inner {
  display: flex;
  flex-direction: column;
}
.mobileCategory .inner .mobile_header {
  border-bottom: 1px solid #ddd;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}
.mobileCategory .inner .mobile_header .mobile_header_wrap {
  width: 360px;
}
.mobileCategory .inner .mobile_header .mobile_header_wrap .top {
  padding: 20px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobileCategory .inner .mobile_header .mobile_header_wrap .top a {
  color: #5f0080;
  cursor: pointer;
}
.mobileCategory .inner .mobile_header .mobile_header_wrap .top .mobileHeaderTitle {
  padding: 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mobileCategory .inner .mobile_header .mobile_header_wrap .top > div {
  cursor: pointer;
  display: flex;
  gap: 10px;
  font-size: 20px;
  color: #5f0080;
}
.mobileCategory .inner .mobile_contents {
  width: 390px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  border: 1px solid red;
}
.mobileCategory .inner .mobile_contents .left {
  flex: 1;
  background: #ddd;
  color: #555;
  border: 1px solid red;
}
.mobileCategory .inner .mobile_contents .left ul li {
  padding: 10px 0 10px 20px;
}
.mobileCategory .inner .mobile_contents .right {
  flex: 2;
  border: 1px solid red;
}
.mobileCategory .inner .mobile_contents .right ul li {
  padding: 10px 0 10px 20px;
}