@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
$color: (
  bg-light-color: #fff,
  main-color: #5f0080,
  point1-color: #bd76ff,
  point2-color: #26074d,
  point3-color: #652c91,
  point4-color: #7897bc,
  point5-color: #a864d8,
  point6-color: #faf4ff,
);

.container {
  color: #333;
  width: 100%;
  display: flex;
  justify-content: center;
  .inner {
    width: 1050px;
    height: 100%;
    .productInfo {
      margin-top: 60px;
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      .info_img {
        width: 430px;
        height: 550px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          border-radius: 6px;
          object-fit: cover;
        }
        .slide_num {
          position: absolute;
          bottom: 20px;
          right: 20px;
          background-color: #fff;
          padding: 5px 14px;
          border-radius: 34px;
        }
      }
      .info_desc {
        width: 556px;
        .desc_header {
          margin-bottom: 44px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .desc_title {
            .subtitle {
              display: flex;
              gap: 5px;
              margin-bottom: 5px;
              span {
                font-size: 14px;
                color: #fff;
                padding: 5px 10px;
                border-radius: 20px;
                background: map-get($color, main-color);
                &:last-child {
                  background-color: map-get($color, point4-color);
                }
              }
            }
            .title {
              h1 {
                font-size: 24px;
                font-weight: 500;
              }
            }
          }
          .share {
            cursor: pointer;
            object-fit: cover;
            position: relative;
            .share_modal {
              display: none;
              width: 300px;
              background-color: #fff;
              position: absolute;
              top: 50px;
              right: 0;
              box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
              padding: 24px;
              //   display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 20px;
              & > .top {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                & > div {
                  display: flex;
                  gap: 10px;
                  align-items: center;
                  font-weight: bold;
                  font-size: 14px;
                }
              }
              & > .bottom {
                width: 100%;
                height: 40px;
                display: flex;
                input {
                  flex: 2;
                  border: none;
                  background-color: #ddd;
                  font-size: 12px;
                  padding: 6px;
                }
                & > span {
                  flex: 1.5;
                  color: map-get($color, main-color);
                  border: 1px solid map-get($color, main-color);
                  font-weight: bold;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                }
              }
            }
          }
        }
        .desc_price {
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin-bottom: 19px;
          h4 {
            font-size: 16px;
            font-weight: 300;
            color: #999;
            display: flex;
            align-items: center;
            img {
              width: 16px;
            }
          }
          h2 {
            font-size: 30px;
            b {
              color: #fa612f;
            }
          }
          & > span {
            font-size: 24px;
            font-weight: 200;
          }
          margin-bottom: 45px;
        }
        .desc_shipping {
          padding: 20px 0;
          border-top: 1px solid #ddd;
          display: flex;
          justify-content: space-between;
          & > span {
            color: #666;
            font-size: 14px;
          }
          .shipping_info {
            width: 428px;
            display: flex;
            flex-direction: column;
            h4 {
              margin-bottom: 5px;
              color: #333;
              font-weight: normal;
            }
            span {
              font-size: 12px;
              color: #666;
            }
          }
        }
        .desc_choice {
          padding: 20px 0;
          border-top: 1px solid #ddd;
          display: flex;
          justify-content: space-between;
          & > span {
            color: #666;
            font-size: 14px;
          }
          .choice_box {
            border: 1px solid #ddd;

            width: 428px;
            padding: 11px 15px;
            h4 {
              margin-bottom: 12px;
              font-size: 14px;
              font-weight: 400;
            }
            & > div {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .quantity {
                border: 1px solid #ddd;
                border-radius: 3px;
                width: 88px;
                padding: 5px 0;
                display: flex;
                justify-content: space-around;
              }
              & > .price {
                display: flex;
                gap: 5px;
                font-size: 12px;
                span {
                  &:first-child {
                    color: #999;
                  }
                  &:last-child {
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
        .desc_info {
          display: flex;
          gap: 4px;
          margin-bottom: 6px;
          & > .sale {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            width: 350px;
            padding: 14px 10px;
            background-color: map-get($color, point6-color);
            font-size: 12px;
            .fa-solid {
              font-size: 16px;
              color: map-get($color, main-color);
            }
          }
          & > .info {
            cursor: pointer;
            border: 1px solid rgba($color: #5f0080, $alpha: 0.4);
            border-radius: 4px;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            font-size: 16px;
            .fa-solid {
              color: map-get($color, main-color);
            }
          }
        }
        .desc_cart {
          width: 100%;
          display: flex;
          gap: 4px;
          .item {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ddd;
            border-radius: 3px;
            width: 56px;
            height: 56px;
            font-size: 26px;
            color: map-get($color, main-color);
            transition: all 0.3s;
            &:first-child:hover {
              background-color: map-get($color, main-color);
              border: 1px solid map-get($color, main-color);
              color: #fff;
            }
          }
          .cartIn {
            cursor: pointer;
            width: 432px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-color: map-get($color, main-color);
            border-radius: 3px;
          }
        }
        .desc_totalPrice {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          padding: 10px 0;
          gap: 20px;
          h1 {
            font-size: 20px;

            b {
              margin-right: 6px;
              font-size: 32px;
            }
          }
        }
      }
      .info_modal {
        display: none;
        position: fixed;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
        .modal_desc {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          & > span {
            padding: 10px;
            width: 100%;
            background-color: map-get($color, main-color);
            color: #fff;
            text-align: center;
            & > .fa-xmark {
              cursor: pointer;
              position: absolute;
              top: 11px;
              right: 14px;
              font-size: 20px;
            }
          }
          & > ul {
            display: flex;
            flex-direction: column;
            padding: 10px;
            li {
              padding: 20px 10px;
              display: flex;
              border-bottom: 1px solid #ddd;

              h4 {
                width: 140px;
                font-size: 14px;
                color: #666;
                font-weight: normal;
              }
              & > div {
                width: 450px;
                font-size: 14px;
                display: flex;
                flex-direction: column;
                h5 {
                  font-size: 12px;
                  font-weight: normal;
                  color: #666;
                }
              }
              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
    .top_review {
      margin-bottom: 20px;
      display: flex;
      & > .item {
        cursor: pointer;
        padding: 10px;
        width: 340px;
        border: 2px solid map-get($color, point6-color);
        display: flex;
        gap: 21px;
        font-size: 12px;
        img {
          object-fit: cover;
        }
        .desc {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .userId {
            color: map-get($color, point3-color);
          }
          .like {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: #999;
            font-size: 10px;
            & > div {
              border: 1px solid #ddd;
              padding: 2px 5px;
              border-radius: 23px;
            }
          }
        }
      }
    }
    .productGnb {
      position: sticky;
      z-index: 1;
      top: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 24px;
      .gnbItem {
        cursor: pointer;
        background: #fff;
        border: 1px solid #ddd;
        border-right: none;
        width: 100%;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        &:first-child {
          border: 1px solid map-get($color, main-color);
          background-color: map-get($color, main-color);
          color: #fff;
        }
        &:last-child {
          border-right: 1px solid #ddd;
        }
      }
    }
    .productImg {
      text-align: center;
      margin-bottom: 9px;
      img {
        object-fit: cover;
      }
    }
    .refund {
      width: 100%;
      .itemWrap {
        .item {
          position: relative;
          padding: 20px 30px;
          display: flex;
          border-bottom: 1px solid #ddd;
          & > span:first-child {
            width: 200px;
            color: map-get($color, main-color);
            font-weight: 500;

            font-size: 18px;
          }

          & > .info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: #666;
          }
          & > span:last-child {
            position: absolute;
            cursor: pointer;
            color: map-get($color, main-color);
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
          }
          &:last-child {
            border-bottom: 2px solid #ddd;
          }
        }
        .item_open {
          width: 100%;
          border: 1px solid red;
        }
        .first {
          //   display: none;
          height: 340px;
          .item_open_wrap {
            display: flex;
            flex-direction: column;
            & > div {
              padding: 40px 30px;
              display: flex;
              border-bottom: 1px solid #ddd;
              &:last-child {
                border-bottom: none;
              }
              h4 {
                flex: 1;
                font-size: 17px;
                font-weight: normal;
              }
              div {
                flex: 3;
                display: flex;
                flex-direction: column;
                font-size: 15px;
                font-weight: 300;
              }
            }
          }
        }
        .second {
          height: 772px;
          .item_open_wrap {
            display: flex;
            flex-direction: column;
            & > div {
              padding: 40px 30px;
              display: flex;
              border-bottom: 1px solid #ddd;
              &:last-child {
                border-bottom: none;
              }
              h4 {
                flex: 1;
                font-size: 17px;
                font-weight: normal;
              }
              div {
                flex: 3;
                display: flex;
                flex-direction: column;
                font-size: 15px;
                font-weight: 300;
              }
              &:first-child > div {
                p {
                  margin-bottom: 22px;
                }
              }
              &:nth-child(2) > div {
                b {
                  color: map-get($color, main-color);
                }
                p {
                  margin-top: 6px;
                  margin-bottom: 30px;
                }
                span:nth-of-type(3) {
                  margin-top: 6px;
                  margin-bottom: 22px;
                }
              }
              &:nth-child(3) > div {
                span:first-child {
                  margin-bottom: 22px;
                }
                span:not(:first-child) {
                  &::before {
                    content: "・";
                  }
                }
              }
            }
          }
        }
      }
      margin-bottom: 55px;
    }
    .bottom_review {
      margin-bottom: 80px;
      .review_imgs {
        margin-bottom: 30px;
        display: flex;
        gap: 6px;
        justify-content: center;
        & > div {
          cursor: pointer;
          display: flex;
          justify-content: center;
          width: 126px;
          height: 126px;
          &:first-child img {
            border-radius: 6px 0 0 6px;
          }
          &:last-child img {
            border-radius: 0 6px 6px 0;
          }
          img {
            object-fit: cover;
          }
          &:last-child {
            position: relative;
            width: 100%;
            height: 100%;
            &::after {
              cursor: pointer;
              border-radius: 0 6px 6px 0;
              content: "+더보기";
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background: rgba($color: #000000, $alpha: 0.5);
            }
          }
        }
      }
      .review_num {
        margin-bottom: 21px;
        & > .num {
          display: flex;
          justify-content: space-between;
          & > div {
            font-size: 10px;
            & > span {
              font-size: 12px;
            }
          }
        }
      }
      .user_review {
        & > .review {
          display: flex;
          padding: 10px 6px;
          border-top: 1px solid #ddd;
          .user {
            flex: 1;
            & > span:first-child {
              background-color: map-get($color, point5-color);
              color: #fff;
              font-size: 8px;
              padding: 4px;
              border-radius: 3px;
            }
            & > span:last-child {
              font-size: 12px;
            }
          }
          .desc {
            flex: 3;
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-size: 12px;
            & > span:first-child,
            span:last-child {
              color: #b5b5b5;
            }
            & > div {
              img {
                cursor: pointer;
                border-radius: 4px;
                width: 94px;
                height: 94px;
              }
            }
          }
          .like {
            flex: 0.5;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            span {
              border: 1px solid #ddd;
              padding: 5px 10px;
              border-radius: 30px;
              font-size: 10px;
              color: #999;
            }
          }
          &:last-child {
            border-bottom: 1px solid #ddd;
          }
        }
      }
    }
    .inquiry {
      margin-bottom: 88px;
      .inquiry_top {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        & > div:first-child {
          font-size: 24px;
          font-weight: 500;
        }
        & > div:last-child {
          display: flex;
          justify-content: space-between;
          div {
            display: flex;
            flex-direction: column;
            color: #999;
            font-size: 14px;
            font-weight: 350;
            span b {
              cursor: pointer;
            }
            & > span::before {
              content: "・";
            }
          }
          & > span:last-child {
            cursor: pointer;
            font-size: 14px;
            color: #fff;
            background-color: map-get($color, main-color);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 30px;
            border-radius: 3px;
          }
        }
      }
      .inquiry_user {
        margin-bottom: 86px;
        ul {
          font-size: 14px;
          & > li:first-child {
            font-weight: 500;
            color: #333;
            border-top: 2px solid #333;
            border-bottom: 1px solid #333;
            span {
              text-align: center;
            }
            div span:nth-child(n + 2) {
              margin-right: 0;
            }
          }
          li:not(:first-child) {
            cursor: pointer;
          }
          li {
            display: flex;
            padding: 20px;
            color: #999;
            border-bottom: 1px solid #ddd;
            & > span {
              flex: 2;
              i {
                margin-left: 4px;
              }
            }
            & > div {
              flex: 1;
              display: flex;
              justify-content: space-around;
              span:nth-child(n + 2) {
                margin-right: 10px;
              }
              i {
                font-size: 20px;
              }
              .fa-square-check {
                color: map-get($color, main-color);
              }
            }
          }
        }
      }
      .inquiry_btn {
        display: flex;
        justify-content: center;
        & > div {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 14px;
          span {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 8px 14px;
            &:first-child {
              color: #ddd;
            }
          }
        }
      }
    }
  }
}
