@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
.container {
  color: #333;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .inner {
  width: 1050px;
  height: 100%;
  border: 1px solid red;
}
.container .inner .productInfo {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.container .inner .productInfo .info_img {
  width: 430px;
  height: 550px;
  position: relative;
}
.container .inner .productInfo .info_img img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .inner .productInfo .info_img .slide_num {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  padding: 5px 14px;
  border-radius: 34px;
}
.container .inner .productInfo .info_desc {
  width: 556px;
}
.container .inner .productInfo .info_desc .desc_header {
  margin-bottom: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .inner .productInfo .info_desc .desc_header .desc_title .subtitle {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
.container .inner .productInfo .info_desc .desc_header .desc_title .subtitle span {
  font-size: 14px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  background: #5f0080;
}
.container .inner .productInfo .info_desc .desc_header .desc_title .subtitle span:last-child {
  background-color: #7897bc;
}
.container .inner .productInfo .info_desc .desc_header .desc_title .title h1 {
  font-size: 24px;
  font-weight: 500;
}
.container .inner .productInfo .info_desc .desc_header .share {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.container .inner .productInfo .info_desc .desc_header .share .share_modal {
  display: none;
  width: 300px;
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container .inner .productInfo .info_desc .desc_header .share .share_modal > .top {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.container .inner .productInfo .info_desc .desc_header .share .share_modal > .top > div {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}
.container .inner .productInfo .info_desc .desc_header .share .share_modal > .bottom {
  width: 100%;
  height: 40px;
  display: flex;
}
.container .inner .productInfo .info_desc .desc_header .share .share_modal > .bottom input {
  flex: 2;
  border: none;
  background-color: #ddd;
  font-size: 12px;
  padding: 6px;
}
.container .inner .productInfo .info_desc .desc_header .share .share_modal > .bottom > span {
  flex: 1.5;
  color: #5f0080;
  border: 1px solid #5f0080;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.container .inner .productInfo .info_desc .desc_price {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 19px;
  margin-bottom: 45px;
}
.container .inner .productInfo .info_desc .desc_price h4 {
  font-size: 16px;
  font-weight: 300;
  color: #999;
  display: flex;
  align-items: center;
}
.container .inner .productInfo .info_desc .desc_price h4 img {
  width: 16px;
}
.container .inner .productInfo .info_desc .desc_price h2 {
  font-size: 30px;
}
.container .inner .productInfo .info_desc .desc_price h2 b {
  color: #fa612f;
}
.container .inner .productInfo .info_desc .desc_price > span {
  font-size: 24px;
  font-weight: 200;
}
.container .inner .productInfo .info_desc .desc_shipping {
  padding: 20px 0;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.container .inner .productInfo .info_desc .desc_shipping > span {
  color: #666;
  font-size: 14px;
}
.container .inner .productInfo .info_desc .desc_shipping .shipping_info {
  width: 428px;
  display: flex;
  flex-direction: column;
}
.container .inner .productInfo .info_desc .desc_shipping .shipping_info h4 {
  margin-bottom: 5px;
  color: #333;
  font-weight: normal;
}
.container .inner .productInfo .info_desc .desc_shipping .shipping_info span {
  font-size: 12px;
  color: #666;
}
.container .inner .productInfo .info_desc .desc_choice {
  padding: 20px 0;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.container .inner .productInfo .info_desc .desc_choice > span {
  color: #666;
  font-size: 14px;
}
.container .inner .productInfo .info_desc .desc_choice .choice_box {
  border: 1px solid #ddd;
  width: 428px;
  padding: 11px 15px;
}
.container .inner .productInfo .info_desc .desc_choice .choice_box h4 {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
}
.container .inner .productInfo .info_desc .desc_choice .choice_box > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .inner .productInfo .info_desc .desc_choice .choice_box > div .quantity {
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 88px;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
}
.container .inner .productInfo .info_desc .desc_choice .choice_box > div > .price {
  display: flex;
  gap: 5px;
  font-size: 12px;
}
.container .inner .productInfo .info_desc .desc_choice .choice_box > div > .price span:first-child {
  color: #999;
}
.container .inner .productInfo .info_desc .desc_choice .choice_box > div > .price span:last-child {
  font-weight: bold;
}
.container .inner .productInfo .info_desc .desc_info {
  display: flex;
  gap: 4px;
  margin-bottom: 6px;
}
.container .inner .productInfo .info_desc .desc_info > .sale {
  display: flex;
  justify-content: space-between;
  width: 350px;
  padding: 14px 10px;
  background-color: #faf4ff;
  font-size: 12px;
}
.container .inner .productInfo .info_desc .desc_info > .sale .fa-solid {
  font-size: 16px;
  color: #5f0080;
}
.container .inner .productInfo .info_desc .desc_info > .info {
  border: 1px solid rgba(95, 0, 128, 0.4);
  border-radius: 4px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 16px;
}
.container .inner .productInfo .info_desc .desc_info > .info .fa-solid {
  color: #5f0080;
}
.container .inner .productInfo .info_desc .desc_cart {
  width: 100%;
  display: flex;
  gap: 4px;
}
.container .inner .productInfo .info_desc .desc_cart .item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 56px;
  height: 56px;
  font-size: 26px;
  color: #5f0080;
}
.container .inner .productInfo .info_desc .desc_cart .cartIn {
  width: 432px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #5f0080;
  border-radius: 3px;
}
.container .inner .productInfo .info_desc .desc_totalPrice {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px 0;
  gap: 20px;
}
.container .inner .productInfo .info_desc .desc_totalPrice h1 {
  font-size: 20px;
}
.container .inner .productInfo .info_desc .desc_totalPrice h1 b {
  margin-right: 6px;
  font-size: 32px;
}
.container .inner .productInfo .info_modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.container .inner .productInfo .info_modal .modal_desc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .inner .productInfo .info_modal .modal_desc > span {
  padding: 10px;
  width: 100%;
  background-color: #5f0080;
  color: #fff;
  text-align: center;
}
.container .inner .productInfo .info_modal .modal_desc > span > .fa-xmark {
  cursor: pointer;
  position: absolute;
  top: 11px;
  right: 14px;
  font-size: 20px;
}
.container .inner .productInfo .info_modal .modal_desc > ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.container .inner .productInfo .info_modal .modal_desc > ul li {
  padding: 20px 10px;
  display: flex;
  border-bottom: 1px solid #ddd;
}
.container .inner .productInfo .info_modal .modal_desc > ul li h4 {
  width: 140px;
  font-size: 14px;
  color: #666;
  font-weight: normal;
}
.container .inner .productInfo .info_modal .modal_desc > ul li > div {
  width: 450px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.container .inner .productInfo .info_modal .modal_desc > ul li > div h5 {
  font-size: 12px;
  font-weight: normal;
  color: #666;
}
.container .inner .productInfo .info_modal .modal_desc > ul li:last-child {
  border-bottom: none;
}
.container .inner .top_review {
  margin-bottom: 20px;
  display: flex;
}
.container .inner .top_review > .item {
  padding: 10px;
  width: 340px;
  border: 2px solid #faf4ff;
  display: flex;
  gap: 21px;
  font-size: 12px;
}
.container .inner .top_review > .item img {
  -o-object-fit: cover;
     object-fit: cover;
}
.container .inner .top_review > .item .desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .inner .top_review > .item .desc .userId {
  color: #652c91;
}
.container .inner .top_review > .item .desc .like {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #999;
  font-size: 10px;
}
.container .inner .top_review > .item .desc .like > div {
  border: 1px solid #ddd;
  padding: 2px 5px;
  border-radius: 23px;
}
.container .inner .productGnb {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}
.container .inner .productGnb .gnbItem {
  background: #fff;
  border: 1px solid #ddd;
  border-right: none;
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.container .inner .productGnb .gnbItem:first-child {
  border: 1px solid #5f0080;
  background-color: #5f0080;
  color: #fff;
}
.container .inner .productGnb .gnbItem:last-child {
  border-right: 1px solid #ddd;
}
.container .inner .productImg {
  text-align: center;
}
.container .inner .productImg img {
  -o-object-fit: cover;
     object-fit: cover;
}