@charset "UTF-8";
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
body {
  width: 100%;
}

header {
  position: relative;
  width: 100%;
}
header .header_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
header .header_wrapper .inner {
  width: 1050px;
  height: 100%;
}
header .header_wrapper .inner .header_top_bar {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
header .header_wrapper .inner .header_top_bar span {
  cursor: pointer;
  padding: 10px;
  font-size: 12px;
  color: #333;
}
header .header_wrapper .inner .header_top_bar span:first-child {
  color: #5f0080;
}
header .header_wrapper .inner .header_top_bar span .customerService {
  z-index: 10;
  background: #fff;
  font-size: 12px;
  position: absolute;
  top: 33px;
  right: 0;
  display: none;
  flex-direction: column;
  gap: 5px;
  color: #333;
  padding: 8px;
  padding-right: 40px;
  border: 1px solid #ddd;
}
header .header_wrapper .inner .header_top_bar span .customerService.active {
  display: flex;
}
header .header_wrapper .inner .header_main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 25px;
}
header .header_wrapper .inner .header_main .header_main_left {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header_wrapper .inner .header_main .header_main_left span {
  cursor: pointer;
  font-size: 18px;
  color: #5f0080;
  font-weight: 450;
}
header .header_wrapper .inner .header_main .header_main_left .logo {
  width: 82px;
}
header .header_wrapper .inner .header_main .header_main_left .mobileLogo {
  display: none;
}
header .header_wrapper .inner .header_main .header_main_left .mobileToggle {
  display: none;
}
header .header_wrapper .inner .header_main .header_main_center {
  justify-self: center;
  position: relative;
}
header .header_wrapper .inner .header_main .header_main_center input {
  font-size: 18px;
  padding: 0 20px;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  border: 1px solid #5f0080;
}
header .header_wrapper .inner .header_main .header_main_center input:focus {
  outline: none;
}
header .header_wrapper .inner .header_main .header_main_center input:focus::-moz-placeholder {
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  color: transparent;
}
header .header_wrapper .inner .header_main .header_main_center input:focus::placeholder {
  transition: all 0.1s;
  color: transparent;
}
header .header_wrapper .inner .header_main .header_main_center button {
  background-color: transparent; /* 배경색 투명 */
  border: none; /* 테두리 제거 */
  padding: 0; /* 안쪽 여백 제거 */
  margin: 0; /* 바깥 여백 제거 */
  cursor: pointer; /* 마우스 커서 포인터로 변경 */
  display: flex; /* 버튼 내용을 중앙 정렬하기 위해 flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
}
header .header_wrapper .inner .header_main .header_main_center button .fa-magnifying-glass {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  color: #5f0080;
}
header .header_wrapper .inner .header_main .header_main_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  font-size: 26px;
  color: #5f0080;
}
header .header_wrapper .inner .header_main .header_main_right span {
  cursor: pointer;
}

.header_sticky {
  z-index: 5;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(85, 85, 85, 0.1);
  position: sticky;
  top: 0;
}
.header_sticky .inner {
  width: 1050px;
  height: 100%;
}
.header_sticky .inner .header_bottom_gnb {
  display: grid;
  grid-template-columns: 100px 2fr 100px;
  font-size: 16px;
  font-weight: 500;
  color: #222;
}
.header_sticky .inner .header_bottom_gnb .lnb {
  padding: 15px 0;
  width: 100%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}
.header_sticky .inner .header_bottom_gnb .lnb:hover > span {
  color: #5f0080;
}
.header_sticky .inner .header_bottom_gnb .lnb:hover > .fa-bars {
  color: #5f0080;
}
.header_sticky .inner .header_bottom_gnb .lnb .category {
  width: 300px;
  height: 800px;
  overflow-y: scroll;
  background: #fff;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  top: 53px;
}
.header_sticky .inner .header_bottom_gnb .lnb .category > div {
  padding: 10px 20px;
  color: #666;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_sticky .inner .header_bottom_gnb .lnb .category > div img {
  width: 25px;
}
.header_sticky .inner .header_bottom_gnb .lnb .category.active {
  display: block;
}
.header_sticky .inner .header_bottom_gnb .lnb .category.active div {
  transition: all 0.3s;
}
.header_sticky .inner .header_bottom_gnb .lnb .category.active div:hover {
  background-color: #e9e9e9;
  color: #5f0080;
}
.header_sticky .inner .header_bottom_gnb .lnb .subCategory {
  width: 300px;
  height: 800px;
  background: #f6f6f6;
  font-size: 14px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  color: #666;
  top: 53px;
  left: 300px;
}
.header_sticky .inner .header_bottom_gnb .lnb .subCategory > div {
  padding: 10px 20px;
  transition: all 0.3s;
}
.header_sticky .inner .header_bottom_gnb .lnb .subCategory > div:hover {
  background-color: #fff;
  color: #5f0080;
}
.header_sticky .inner .header_bottom_gnb .lnb .subCategory.active {
  display: block;
}
.header_sticky .inner .header_bottom_gnb .gnb {
  display: flex;
  justify-content: center;
  gap: 120px;
}
.header_sticky .inner .header_bottom_gnb .gnb span {
  padding: 15px 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.header_sticky .inner .header_bottom_gnb .gnb span:hover {
  color: #5f0080;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .inner {
  margin: 30px 0;
  width: 1050px;
  height: 100%;
}
section .inner .searchItem {
  width: 100%;
}
section .inner .searchItem .product_items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
section .inner .searchItem .product_items .product_item {
  width: 255px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section .inner .searchItem .product_items .product_item .product_item_img {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
section .inner .searchItem .product_items .product_item .product_item_img:hover > img {
  transform: scale(103%);
}
section .inner .searchItem .product_items .product_item .product_item_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}
section .inner .searchItem .product_items .product_item .product_item_img .rating_coupon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  color: #fff;
  background: #bd76ff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 8px;
}
section .inner .searchItem .product_items .product_item .product_cartin {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s;
  cursor: pointer;
}
section .inner .searchItem .product_items .product_item .product_cartin i {
  font-size: 14px;
  padding-top: 2px;
}
section .inner .searchItem .product_items .product_item .product_cartin:hover {
  background: #5f0080;
  color: #fff;
}
section .inner .searchItem .product_items .product_item .product_item_text {
  height: 145px;
  display: flex;
  flex-direction: column;
}
section .inner .searchItem .product_items .product_item .product_item_text .product_name {
  font-size: 16px;
  height: 40px;
}
section .inner .searchItem .product_items .product_item .product_item_text .product_item_text_bottom .product_price {
  font-size: 14px;
  text-decoration: line-through;
  color: #b5b5b5;
  margin-top: 10px;
}
section .inner .searchItem .product_items .product_item .product_item_text .product_item_text_bottom .product_salePrice {
  display: flex;
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
}
section .inner .searchItem .product_items .product_item .product_item_text .product_item_text_bottom .product_salePrice .product_rating {
  color: #fa622f;
}
section .inner .searchItem .product_items .product_item .product_item_text .product_item_text_bottom .comment_text {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 3px;
  color: #999;
  margin-top: 10px;
}
section .inner .searchItem .product_items .product_item .product_item_text .product_item_text_bottom .comment_text p {
  padding-bottom: 4px;
}
section .inner .noItem div {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .inner .noItem div span {
  color: #888;
}

footer {
  width: 100%;
  height: 360px;
}
footer .footer_wrapper {
  border-top: 1px solid #ddd;
  width: 100%;
  height: 100%;
}
footer .footer_wrapper .inner {
  padding: 20px 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
}
footer .footer_wrapper .inner .footer_left h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .footer_wrapper .inner .footer_left > span b {
  font-size: 26px;
}
footer .footer_wrapper .inner .footer_left .footer_left_info {
  margin-top: 20px;
}
footer .footer_wrapper .inner .footer_left .footer_left_info .left_info {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}
footer .footer_wrapper .inner .footer_left .footer_left_info .left_info h2 {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  font-size: 14px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-weight: normal;
  transition: all 0.3s;
}
footer .footer_wrapper .inner .footer_left .footer_left_info .left_info h2:hover {
  background: #5f0080;
  color: white;
  border: 1px solid #5f0080;
}
footer .footer_wrapper .inner .footer_left .footer_left_info .left_info div {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #777;
}
footer .footer_wrapper .inner .footer_left .footer_left_info > span {
  font-size: 12px;
  color: #999;
}
footer .footer_wrapper .inner .footer_right {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .footer_wrapper .inner .footer_right .footer_right_first {
  cursor: pointer;
  font-size: 14px;
  display: flex;
  gap: 20px;
}
footer .footer_wrapper .inner .footer_right .footer_right_second {
  font-size: 12px;
  color: #777;
}
footer .footer_wrapper .inner .footer_right .footer_right_second h4 {
  font-weight: normal;
}
footer .footer_wrapper .inner .footer_right .footer_right_second b {
  color: #5f0080;
  font-weight: normal;
  cursor: pointer;
}
footer .footer_wrapper .inner .footer_right .footer_right_third {
  cursor: pointer;
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 1050px) {
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
  }
  header {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  header .header_wrapper {
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    width: 390px;
    background: #5f0080;
  }
  header .header_wrapper .inner {
    width: 360px;
    display: flex;
    align-items: center;
  }
  header .header_wrapper .inner .header_top_bar {
    display: none;
  }
  header .header_wrapper .inner .header_main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0;
  }
  header .header_wrapper .inner .header_main .header_main_left {
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  header .header_wrapper .inner .header_main .header_main_left img {
    width: 60px;
  }
  header .header_wrapper .inner .header_main .header_main_left span {
    display: none;
  }
  header .header_wrapper .inner .header_main .header_main_left a {
    display: block;
    color: #fff;
    font-size: 20px;
  }
  header .header_wrapper .inner .header_main .header_main_left .logo {
    display: none;
  }
  header .header_wrapper .inner .header_main .header_main_left .mobileLogo {
    display: block;
    width: 70px;
    text-align: center;
  }
  header .header_wrapper .inner .header_main .header_main_left .mobileToggle {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  header .header_wrapper .inner .header_main .header_main_center input {
    width: 100%;
    height: 32px;
    font-size: 14px;
  }
  header .header_wrapper .inner .header_main .header_main_center input::-moz-placeholder {
    color: transparent;
  }
  header .header_wrapper .inner .header_main .header_main_center input::placeholder {
    color: transparent;
  }
  header .header_wrapper .inner .header_main .header_main_center .fa-magnifying-glass {
    font-size: 14px;
  }
  header .header_wrapper .inner .header_main .header_main_right {
    display: none;
  }
  .header_sticky {
    width: 100%;
    top: 110px;
    box-shadow: none;
    background: #f9f9f9;
  }
  .header_sticky .inner {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    width: 390px;
    background: #fff;
  }
  .header_sticky .inner .header_bottom_gnb {
    width: 100%;
    display: flex;
  }
  .header_sticky .inner .header_bottom_gnb .lnb {
    display: none;
  }
  .header_sticky .inner .header_bottom_gnb .gnb {
    width: 100%;
    gap: 0;
    justify-content: space-around;
    color: #5f0080;
    font-size: 14px;
  }
  .header_sticky .inner .header_bottom_gnb .gnb span {
    padding: 10px;
  }
  section {
    width: 390px;
    height: 100vh;
    padding-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  section .inner {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 360px;
    position: relative;
  }
  section .inner .searchItem .product_items {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }
  section .inner .searchItem .product_items .product_item {
    width: 110px;
  }
  section .inner .searchItem .product_items .product_item .product_item_img .rating_coupon {
    display: none;
  }
  section .inner .searchItem .product_items .product_item .product_item_text {
    height: 120px;
  }
  section .inner .searchItem .product_items .product_item .product_item_text .product_name {
    height: 100%;
    overflow: hidden;
    -webkit-line-clamp: 2; /* 두 줄까지만 표시 */
    text-overflow: ellipsis; /* 넘치는 부분을 '...'로 표시 */
    line-height: 1.5em; /* 줄 간격 조절 */
    max-height: 3em;
    font-size: 14px;
  }
  section .inner .searchItem .product_items .product_item .product_item_text .product_item_text_bottom .product_price {
    font-size: 12px;
    margin: 0;
  }
  section .inner .searchItem .product_items .product_item .product_item_text .product_item_text_bottom .product_salePrice {
    font-size: 14px;
    align-items: center;
  }
  section .inner .noItem div {
    position: absolute;
    top: -100px;
    left: 0;
  }
  footer {
    display: none;
  }
}