@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
// font-family: "Noto Sans KR", sans-serif;

body {
  height: 2000px;
}
$color: (
  bg-light-color: #fff,
  main-color: #5f0080,
  point1-color: #bd76ff,
  point2-color: #26074d,
  point3-color: #652c91,
  point4-color: #7897bc,
  point5-color: #a864d8,
  point6-color: #faf4ff,
);
// header
header {
  width: 100%;
  height: 156px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  .header_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .inner {
      width: 1050px;
      height: 100%;
      // position: relative;
      .header_top_bar {
        display: flex;
        justify-content: flex-end;
        span {
          cursor: pointer;
          padding: 10px;
          font-size: 12px;
          color: #333;
          &:first-child {
            color: map-get($color, main-color);
          }
        }
      }
      .header_main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin-bottom: 25px;
        .header_main_left {
          display: flex;
          align-items: center;
          gap: 20px;
          span {
            cursor: pointer;
            font-size: 18px;
            &:first-of-type {
              color: map-get($color, main-color);
              font-weight: 500;
            }
            &:last-of-type {
              color: #888;
            }
          }
        }
        .header_main_center {
          justify-self: center;
          position: relative;
          input {
            font-size: 18px;
            padding: 0 20px;
            border-radius: 10px;
            width: 400px;
            height: 50px;
            border: 1px solid map-get($color, main-color);
            &:focus {
              outline: none;
            }
          }
          .fa-magnifying-glass {
            cursor: pointer;
            font-size: 20px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            color: map-get($color, main-color);
          }
        }
        .header_main_right {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 25px;
          font-size: 26px;
          color: map-get($color, main-color);
          span {
            cursor: pointer;
          }
        }
      }
      .header_bottom_gnb {
        padding-top: 4px;
        display: grid;
        grid-template-columns: 100px 2fr 100px;
        font-size: 16px;
        font-weight: 500;
        color: #222;
        position: sticky;
        left: 0;
        top: 0;
        .lnb {
          cursor: pointer;
          position: relative;
          padding-bottom: 20px;
          transition: all 0.3s;
          &:hover > span {
            color: map-get($color, main-color);
          }
          &:hover > .fa-bars {
            color: map-get($color, main-color);
          }

          .category {
            width: 300px;
            height: 1230px;
            background: #fff;
            font-size: 14px;
            box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.2);
            display: none;
            position: absolute;
            top: 40px;
            & > div {
              padding: 10px 20px;
              color: #666;
            }
            &.active {
              display: block;
              div {
                transition: all 0.3s;
                &:hover {
                  background-color: #e9e9e9;
                  color: map-get($color, main-color);
                }
              }
            }
          }
          .subCategory {
            width: 300px;
            height: 1230px;
            background: #f6f6f6;
            font-size: 14px;
            box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.2);
            display: none;
            position: absolute;
            color: #666;
            top: 40px;
            left: 301px;
            & > div {
              padding: 10px 20px;
              transition: all 0.3s;
              &:hover {
                background-color: #fff;
                color: map-get($color, main-color);
              }
            }
            &.active {
              display: block;
            }
          }
        }
        .gnb {
          display: flex;
          justify-content: center;
          gap: 120px;
          span {
            padding: 0 10px;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
              color: map-get($color, main-color);
            }
          }
        }
      }
    }
  }
}

// footer
footer {
  .footer_wrapper {
    .inner {
    }
  }
}
