// reset
@import url("./reset.css");
// font import
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

$color: (
  bg-light-color: #fff,
  bg-black-color: #000,
  main-color: #5f0080,
  point1-color: #bd76ff,
  point2-color: #26074d,
  point3-color: #652c91,
  point4-color: #7897bc,
  point5-color: #a864d8,
  point6-color: #faf4ff,
  point-orange-color: #fa622f,
);
body {
  width: 100%;
}

// header
header {
  position: relative;
  width: 100%;
  .header_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .inner {
      width: 1050px;
      height: 100%;
      .header_top_bar {
        display: flex;
        justify-content: flex-end;
        position: relative;
        span {
          cursor: pointer;
          padding: 10px;
          font-size: 12px;
          color: #333;
          &:first-child {
            color: map-get($color, main-color);
          }
          .customerService {
            z-index: 10;
            background: #fff;
            font-size: 12px;
            position: absolute;
            top: 33px;
            right: 0;
            display: none;
            flex-direction: column;
            gap: 5px;
            color: #333;
            padding: 8px;
            padding-right: 40px;
            border: 1px solid #ddd;
            &.active {
              display: flex;
            }
          }
        }
      }
      .header_main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin-bottom: 25px;

        .header_main_left {
          display: flex;
          align-items: center;
          gap: 10px;
          span {
            cursor: pointer;
            font-size: 18px;
            color: map-get($color, main-color);
            font-weight: 450;
          }
          .logo {
            width: 82px;
          }
<<<<<<< HEAD
=======
          .mobileLogin {
            display: none;
          }
>>>>>>> 22a90e18434852a999d6940bf592ac85afafb7f6
          .mobileLogo {
            display: none;
          }
          .mobileToggle {
            display: none;
          }
        }
        .header_main_center {
          justify-self: center;
          position: relative;
          input {
            font-size: 18px;
            padding: 0 20px;
            border-radius: 10px;
            width: 400px;
            height: 50px;
            border: 1px solid map-get($color, main-color);
            &:focus {
              outline: none;
              &::placeholder {
                transition: all 0.1s;
                color: transparent;
              }
            }
          }
          button {
            background-color: transparent; /* 배경색 투명 */
            border: none; /* 테두리 제거 */
            padding: 0; /* 안쪽 여백 제거 */
            margin: 0; /* 바깥 여백 제거 */
            cursor: pointer; /* 마우스 커서 포인터로 변경 */
            display: flex; /* 버튼 내용을 중앙 정렬하기 위해 flexbox 사용 */
            align-items: center; /* 세로 중앙 정렬 */
            justify-content: center; /* 가로 중앙 정렬 */
            .fa-magnifying-glass {
              cursor: pointer;
              font-size: 20px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 20px;
              color: map-get($color, main-color);
            }
          }
        }
        .header_main_right {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 25px;
          font-size: 26px;
          color: map-get($color, main-color);
          span {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.header_sticky {
  z-index: 5;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba($color: #555, $alpha: 0.1);
  position: sticky;
  top: 0;
  .inner {
    width: 1050px;
    height: 100%;
    .header_bottom_gnb {
      display: grid;
      // justify-items: center;
      grid-template-columns: 100px 2fr 100px;
      font-size: 16px;
      font-weight: 500;
      color: #222;
      .lnb {
        padding: 15px 0;
        width: 100%;
        cursor: pointer;
        position: relative;
        transition: all 0.3s;
        &:hover > span {
          color: map-get($color, main-color);
        }
        &:hover > .fa-bars {
          color: map-get($color, main-color);
        }

        .category {
          width: 300px;
          height: 800px;
          overflow-y: scroll;
          background: #fff;
          font-size: 14px;
          box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.2);
          display: none;
          position: absolute;
          top: 53px;

          & > div {
            padding: 10px 20px;
            color: #666;
            display: flex;
            align-items: center;
            gap: 10px;
            img {
              width: 25px;
            }
          }
          &.active {
            display: block;
            div {
              transition: all 0.3s;
              &:hover {
                background-color: #e9e9e9;
                color: map-get($color, main-color);
              }
            }
          }
        }
        .subCategory {
          width: 300px;
          height: 800px;
          background: #f6f6f6;
          font-size: 14px;
          box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.2);
          display: none;
          position: absolute;
          color: #666;
          top: 53px;
          left: 300px;
          & div {
            padding: 10px 20px;
            transition: all 0.3s;
            &:hover {
              background-color: #fff;
              color: map-get($color, main-color);
            }
          }
          &.active {
            display: block;
          }
        }
      }
      .gnb {
        display: flex;
        justify-content: center;
        gap: 120px;

        a {
          padding: 15px 10px;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            color: map-get($color, main-color);
          }
        }
      }
    }
  }
}

#modal_area {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 10;

  &.active {
    display: block;
  }
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner {
    margin: 30px 0;
    width: 1050px;
    height: 100%;
    .searchItem {
      width: 100%;
      .product_items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        .product_item {
          width: 255px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .product_item_img {
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            &:hover > img {
              transform: scale(103%);
            }
            img {
              width: 100%;
              object-fit: cover;
              transition: all 0.5s;
            }
            .rating_coupon {
              position: absolute;
              top: 0;
              left: 0;
              font-size: 14px;
              color: map-get($color, bg-light-color);
              background: map-get($color, point1-color);
              padding: 5px 10px;
              border-radius: 5px;
              margin: 8px;
            }
          }
          .product_cartin {
            width: 100%;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
            transition: all 0.3s;
            cursor: pointer;
            i {
              font-size: 14px;
              padding-top: 2px;
            }
            &:hover {
              background: map-get($color, main-color);
              color: map-get($color, bg-light-color);
            }
          }
          .product_item_text {
            height: 145px;
            display: flex;
            flex-direction: column;

            .product_name {
              font-size: 16px;
              height: 40px;
            }
            .product_item_text_bottom {
              .product_price {
                font-size: 14px;
                text-decoration: line-through;
                color: #b5b5b5;
                margin-top: 10px;
              }
              .product_salePrice {
                display: flex;
                gap: 8px;
                font-size: 20px;
                font-weight: 700;
                .product_rating {
                  color: map-get($color, point-orange-color);
                }
              }
              .comment_text {
                display: flex;
                align-items: center;
                font-size: 12px;
                gap: 3px;
                color: #999;
                margin-top: 10px;
                p {
                  padding-bottom: 4px;
                }
              }
            }
          }
        }
      }
    }
    .noItem {
      div {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          color: #888;
        }
      }
    }
  }
}

// modal
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(map-get($color, bg-black-color), $alpha: 0.7);
  z-index: 100;
  cursor: pointer;
}
#modal {
  width: 450px;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: map-get($color, bg-light-color);
  padding: 35px;
  border-radius: 15px;
  z-index: 101;
  .modal_top {
    width: 100%;
    display: flex;
    gap: 18px;
    align-items: center;
    padding-bottom: 18px;
    border-bottom: 1px solid #ccc;
    .modal_img {
      width: 76px;
      height: 76px;
      background: url("../img/main/product_01.jpg") center/cover no-repeat;
      border-radius: 5px;
    }
    .modal_product_name {
      width: 276px;
      font-size: 16px;
    }
  }
  .modal_middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    .modal_subname {
      font-size: 14px;
    }
    .modal_price_counter {
      display: flex;
      justify-content: space-between;
      .modal_price {
        display: flex;
        gap: 6px;
        align-items: center;
        .modal_discount_price {
          font-size: 16px;
          font-weight: 700;
        }
        .modal_Wprice {
          font-size: 12px;
          font-weight: 700;
          color: #ccc;
          text-decoration: line-through;
        }
      }
      .modal_counter {
        width: 90px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          padding-bottom: 2px;
          &:nth-child(1),
          &:nth-child(3) {
            cursor: pointer;
          }
        }
      }
    }
  }
  .modal_bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 15px;
    .modal_totalprice {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      .totalprice {
        display: flex;
        align-items: flex-end;
        span {
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }
  .modal_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    div {
      width: 180px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      cursor: pointer;
      &.button_cancle {
        border: 1px solid #ccc;
        background: map-get($color, bg-light-color);
        color: #ccc;
      }
      &.button_cartin {
        background: map-get($color, main-color);
        color: map-get($color, bg-light-color);
      }
    }
  }
}

footer {
  width: 100%;
  height: 360px;

  .footer_wrapper {
    border-top: 1px solid #ddd;
    width: 100%;
    height: 100%;
    .inner {
      padding: 20px 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 50px;
      .footer_left {
        h1 {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        & > span {
          b {
            font-size: 26px;
          }
        }
        .footer_left_info {
          margin-top: 20px;
          .left_info {
            display: flex;
            gap: 20px;
            margin-bottom: 10px;
            h2 {
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 130px;
              font-size: 14px;
              border: 1px solid #d7d7d7;
              border-radius: 4px;
              font-weight: normal;
              transition: all 0.3s;
              &:hover {
                background: map-get($color, main-color);
                color: white;
                border: 1px solid map-get($color, main-color);
              }
            }
            div {
              display: flex;
              flex-direction: column;
              font-size: 14px;
              color: #777;
            }
          }
          & > span {
            font-size: 12px;
            color: #999;
          }
        }
      }
      .footer_right {
        display: flex;
        flex-direction: column;
        gap: 25px;
        .footer_right_first {
          cursor: pointer;
          font-size: 14px;
          display: flex;
          gap: 20px;
        }
        .footer_right_second {
          font-size: 12px;
          color: #777;
          h4 {
            font-weight: normal;
          }
          b {
            color: map-get($color, main-color);
            font-weight: normal;
            cursor: pointer;
          }
        }
        .footer_right_third {
          cursor: pointer;
          display: flex;
          gap: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  body {
    width: 100%;
<<<<<<< HEAD

=======
    height: 100%;
>>>>>>> 22a90e18434852a999d6940bf592ac85afafb7f6
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
  }
  header {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
    .header_wrapper {
      box-shadow: 4px 0 10px rgba($color: #000000, $alpha: 0.1);
      // background: #fff;
      width: 390px;
      background: map-get($color, main-color);
      .inner {
        width: 360px;
        display: flex;
        align-items: center;
        .header_top_bar {
          display: none;
        }
        .header_main {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 0;
          .header_main_left {
            padding: 0 10px;
            justify-content: center;
            align-items: center;
            position: relative;
            img {
              width: 60px;
            }
            span {
              display: none;
            }
            a {
              display: block;
              color: #fff;
              font-size: 20px;
            }
            .logo {
              display: none;
            }
<<<<<<< HEAD
=======
            .mobileLogin {
              display: block;
              position: absolute;
              top: 50%;
              left: 10px;
              transform: translateY(-50%);
            }
>>>>>>> 22a90e18434852a999d6940bf592ac85afafb7f6
            .mobileLogo {
              display: block;
              width: 70px;
              text-align: center;
            }
            .mobileToggle {
              display: block;
              position: absolute;
              top: 50%;
              right: 10px;
              transform: translateY(-50%);
            }
          }
          .header_main_center {
            input {
              width: 100%;
              height: 32px;
              font-size: 14px;
              &::placeholder {
                color: transparent;
              }
            }
            .fa-magnifying-glass {
              font-size: 14px;
            }
          }
          .header_main_right {
            display: none;
          }
        }
      }
    }
  }
  .header_sticky {
    width: 100%;
    top: 110px;
    box-shadow: none;
    background: #f9f9f9;
    .inner {
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
      width: 390px;
      background: #fff;
      .header_bottom_gnb {
        width: 100%;
        display: flex;
        .lnb {
          display: none;
        }
        .gnb {
          width: 100%;
          gap: 0;
          justify-content: space-around;
          color: map-get($color, main-color);
          font-size: 14px;
          span {
            padding: 10px;
          }
        }
      }
    }
  }
  section {
    width: 390px;
<<<<<<< HEAD
    height: 100vh;
    padding-top: 20px;
=======
    height: 100%;
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    align-items: start;
>>>>>>> 22a90e18434852a999d6940bf592ac85afafb7f6
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
    .inner {
      margin: 0;
      display: flex;
      justify-content: center;
      width: 360px;
      position: relative;
      .searchItem {
        .product_items {
          display: flex;
<<<<<<< HEAD
=======

>>>>>>> 22a90e18434852a999d6940bf592ac85afafb7f6
          flex-wrap: wrap;
          gap: 14px;
          .product_item {
            width: 110px;
            .product_item_img {
              .rating_coupon {
                display: none;
              }
            }
            .product_item_text {
              height: 120px;
              .product_name {
                height: 100%;
                overflow: hidden;
                -webkit-line-clamp: 2; /* 두 줄까지만 표시 */
                text-overflow: ellipsis; /* 넘치는 부분을 '...'로 표시 */
                line-height: 1.5em; /* 줄 간격 조절 */
                max-height: 3em;
                font-size: 14px;
              }
              .product_item_text_bottom {
                .product_price {
                  font-size: 12px;
                  margin: 0;
                }
                .product_salePrice {
                  font-size: 14px;
                  align-items: center;
                }
              }
            }
          }
        }
      }
      .noItem {
        div {
          position: absolute;
          top: -100px;
          left: 0;
        }
      }
    }
  }

  #modal_area {
    width: 390px;
    top: static;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    #modal {
      width: 100%;
      height: fit-content;
      top: static;
      bottom: 0;
      left: 50%;
      justify-content: flex-end;
      transform: translateX(-50%);
      border-radius: 15px 15px 0 0;
      .modal_bottom {
        .modal_totalprice {
          display: none;
        }
      }
    }
  }
  footer {
    display: none;
  }
}
